<table class="financial-data source-tableeditor">
<thead>
<tr>
<th><strong>Data Item</strong></th>
<th><strong>Description</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>ScanInstances: minAttenuation</td>
<td>minimum attenuation of the signal received during the scan (in dB) &ndash; will approximate a minimum distance for the encounter</td>
</tr>
<tr>
<td>ScanInstances: Typicalattenuation</td>
<td>typical attenuation of the signal received during the scan (in dB) - will approximate as an average distance for the encounter</td>
</tr>
<tr>
<td>ScanInstances: Timesincelastscan</td>
<td>Seconds elapsed since the previous scan, typically used as a weight - will be used to understand the duration of the encounter</td>
</tr>
</tbody>
</table>