<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>Name</th>
<th>Description</th>
<th>Capture</th>
<th>Processing</th>
<th>Usage</th>
<th>Lifespan</th>
<th>Benefit of processing</th>
<th>Who needs the data item and what purpose does it serve? (i.e. delivery of service, analysis, medical and public health)</th>
<th>Necessary or Discretionary?</th>
<th>Which benefit of the app does it support? 1: Get notified 2: check into venues 3: check your symptoms 4: Isolation Countdown 5: Medical Device Accreditation 6: Support public health &amp; understanding of CV19</th>
</tr>
</thead>
<tbody>
<tr>
<td>Symptomatic Questionnaire Answers Future functionality</td>
<td>Responses submitted in the symptomatic questionnaire. In particular the time between symptoms onset and filling in the questionnaire.</td>
<td>Captured within App as structured data capturing the questionnaire submission</td>
<td>Sent to the cloud with other stats, then aggregated in to summary statistics</td>
<td>Used to understand what % of users (and wider population) are reporting which Covid like symptoms</td>
<td>Aggregated in to summary statistics, which are then maintained as long as the app system is operational</td>
<td>Understand which symptoms are being reported, and how the symptoms are linked to the virology test results.</td>
<td>Public Health. Understand symptoms of users. Medical device requirement</td>
<td>Necessary</td>
<td>3, 5, 6</td>
</tr>
<tr>
<td>Opt-in Selections Future analytics for future functionality</td>
<td>If some features are optional to the users, which ones they select</td>
<td>Captured within App as text string</td>
<td>Sent to the cloud with other stats, then aggregated in to summary statistics</td>
<td>Used to understand what features users have opted-in to</td>
<td>Aggregated in to summary statistics, which are then maintained as long as the app system is operational</td>
<td>Used to understand how many of the population are using particular app features, to gauge their popularity</td>
<td>Analysis. Understand what features users are using. Medical device requirement</td>
<td>Necessary</td>
<td>1,2,3,4,5, 6</td>
</tr>
<tr>
<td>Contact Counts Future functionality</td>
<td>Counts of contacts with any other app users. Note: Not currently available on the GAEN.</td>
<td>Captured within App as integer contact count</td>
<td>Sent to the cloud with other stats, then aggregated in to summary statistics</td>
<td>Used to understand whether the app is detecting the number of contacts expected</td>
<td>Aggregated in to summary statistics, which are then maintained as long as the app system is operational</td>
<td>Enables refining the configuration of the GAEN to refine the level of contacts being detected, to improve performance on the app</td>
<td>Analysis. Understand that contacts are being made at expected levels. This will relate to the Personal Risk Score feature not yet available</td>
<td>Will be Discretionary</td>
<td>1, 6</td>
</tr>
<tr>
<td>Risk Accumulator Status Future functionality</td>
<td>The results of the apps risk analysis</td>
<td>Captured within App as structured data for a risk scored event</td>
<td>Sent to the cloud with other stats, then aggregated in to summary statistics</td>
<td>Used to characterise performance of the app risk scoring</td>
<td>Aggregated in to summary statistics, which are then maintained as long as the app system is operational</td>
<td>Enables risk scoring to be tuned and refined, to improve the performance of the app</td>
<td>Understand risk scoring. Information that is provided on what risky events have occurred. Foundation technology</td>
<td>Will become Necessary</td>
<td>1</td>
</tr>
<tr>
<td>Risk API Decisions Future functionality</td>
<td>Decisions made by the Risk API Circuit Breaker</td>
<td>Captured within the Risk API cloud service when asked to make a decision</td>
<td>Aggregated in to summary statistics</td>
<td>Used to characterise performance of the app risk scoring and decisions</td>
<td>Aggregated in to summary statistics, which are then maintained as long as the app system is operational</td>
<td>Enables risk scoring to be tuned and refined, to improve the performance of the app</td>
<td>Understand risk scoring. This is the decision that is subsequently made based on the risk event (risk accumulator status). Foundation technology</td>
<td>Will become Necessary</td>
<td>1</td>
</tr>
</tbody>
</table>