<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>Data Item</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>Symptoms requested [Technical Description: DidAskForSymptomsOn PositiveTestEntry]</td>
<td>This counts if the app displays the screen asking the user if they have symptoms after receiving a positive COVID-19 test</td>
</tr>
<tr>
<td>Symptoms noted [Technical description: DidHaveSymptomsBeforeReceived Test Result].</td>
<td>A count which is increased when a user selects yes when asked if they have symptoms. This works alongside the other data items to help ensure the user has received the correct advice, the service is working as expected.</td>
</tr>
<tr>
<td>Symptoms onset date entered [Technical description: DidRememberOnset SymptomsDateBeforeReceivedTestResult].</td>
<td>This data item counts when the app user enters a symptom start date into the field. Please note: it does not capture details of the date, just that one was entered.</td>
</tr>
</tbody>
</table>