<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>Name</th>
<th>Description</th>
<th>Capture</th>
<th>Processing</th>
<th>Distribution</th>
<th>Lifespan</th>
<th>Benefit of processing</th>
</tr>
</thead>
<tbody>
<tr>
<td>Contacts Detected</td>
<td>Contacts detected inside the GAEN</td>
<td>Apple / Google EN API</td>
<td>Not available for processing</td>
<td>Within the OS, not accessible to the App</td>
<td>Completely managed by Apple/Google</td>
<td>Not applicable</td>
</tr>
<tr>
<td>Exposure Events</td>
<td>Matches between Positive Keys and Contacts Detected. Never discloses the user that was matched Note: only relevant to GAEN Mode 1</td>
<td>Apple/Google GAEN, when a contact match is made</td>
<td>Aggregated on the cloud platform to provide statistics</td>
<td>Generated on the App, shared with Cloud</td>
<td>Short. From match detection until aggregated into statistics</td>
<td>Statistics on matches being made are critical to understand and improve the performance of the contact matching configuration</td>
</tr>
<tr>
<td>Exposure Windows</td>
<td>Where a match between a Diagnosis Key and Contact is detected an Exposure Window is generated which captures the details used to determine if an app user is alerted. Never discloses the user that was matched. Note: only relevant to GAEN Mode 2</td>
<td>Apple / Google EN API, when a contact match is made</td>
<td>The app uses this information to identify if the app user has been exposed to a positive contact and to calculate the risk of infection</td>
<td>Generated on the App, shared with Cloud</td>
<td>Short. Aligned with the period the Isolation Countdown is Active</td>
<td>Statistics on matches being made are critical to understand and improve the performance of the contact matching configuration</td>
</tr>
<tr>
<td>Exposure Matches</td>
<td>Matches between diagnosis keys and broadcast codes. Includes whether the match was above or below the risk threshold. Never discloses the user that were matchated.</td>
<td>Apple/Google GAEN, when a contact match is made and relevant Exposure Window data set</td>
<td>Aggregated on the product environment to provide statistics</td>
<td>Collected in app and passed to app back-end (product environment)</td>
<td>Short. From match detection until aggregated into statistics</td>
<td>Statistics on matches and their nature being made are critical to understand and improve the performance of the contact matching configuration</td>
</tr>
<tr>
<td>Test status, type and test process</td>
<td>Results of testing, test type and process.</td>
<td>NPEx (National Pathology Exchange) National Test Database, which is passed the data by the Testing Labs</td>
<td>Distributed to all app instances</td>
<td>Passed to the Cloud by 3rd party. Shared will all App instances.</td>
<td>As long as the app is installed</td>
<td>Essential to determine which app users are positive index cases and the test process used (i.e. whether the test process started and ended in the app)Where applicable will recommend the user seeks a confirmatory test after a first test result.</td>
</tr>
<tr>
<td>Onset of Symptoms</td>
<td>The data around when the app user shows symptoms</td>
<td>The date is captured when the user populates the symptoms questionnaire</td>
<td>The app uses this information to calculate the isolation countdown timer and identify the period which the app user is an index case</td>
<td>Stored on the App. Not Distributed</td>
<td>14 days</td>
<td>Essential to determine the appropriate isolation window for users and appropriate window a user is an index case for exposure detection This is collected via the app or alternatively via the testing route, where appropriate.</td>
</tr>
<tr>
<td>Diagnosis Key Sets</td>
<td>Diagnosis Keys from the GAEN that are requested when a user is confirmed positive and shared with other users. This references data items that enables the infectiousness of the contact to be calculated.</td>
<td>Apple/Google GAEN, when a suspected positive user is requested to submit their keys</td>
<td>A transmission risk is added to the key set before it is sent to the cloud.</td>
<td>Generated on the App, stored on Cloud. Sent to all App instances</td>
<td>14 days.</td>
<td>Essential that these keys are distributed to all participating apps as they are the data that is matched against to identify contacts with index cases</td>
</tr>
<tr>
<td>QR Venues Visited</td>
<td>QR codes derived from scanning QR images</td>
<td>Captured using phone&rsquo;s camera QR code scanning function under full app control</td>
<td>QR code is decoded to capture venue identifiers and stored encrypted on the phone.</td>
<td>Generated on the App. Never shared.</td>
<td>21 days</td>
<td>Used to match Hot Spot Venue codes</td>
</tr>
<tr>
<td>Hotspot QR Venues</td>
<td>QR codes for venues that could have caused users to become infected</td>
<td>Identified outside of the app system by Manual Contact Tracing teams</td>
<td>Used with the app to look for matches identifying when an app user has visited a hotspot location.</td>
<td>Passed to the Cloud by 3rd party. Shared will all App instances.</td>
<td>21 days</td>
<td>Used to match visited venue codes</td>
</tr>
<tr>
<td>Postcode district</td>
<td>First half (2 to 4 digits) of Post Code prior to the space</td>
<td>Entered by the app user in app onboarding sequence</td>
<td>Stored on the app securely. Included in analytics when transmitted anonymously to the cloud</td>
<td>Stored on the App. Shared with Cloud with Analytics</td>
<td>As long as the app is installed</td>
<td>Enables system to present captured statistical data on a regional basis, to understand behaviour and infection rates in specific areas. Allows for user to be presented with local information such as infection risk, additional testing or services available in an area.</td>
</tr>
<tr>
<td>Local Authority</td>
<td>Based on the postcode district entered by the user</td>
<td>Selected by the app user and based upon the postcode district entered in the app onboarding sequence</td>
<td>Stored on the app securely. To be included in analytics when transmitted anonymously to the Cloud</td>
<td>Stored on the App. Shared with Cloud with Analytics</td>
<td>As long as the app is installed</td>
<td>Enables system to present captured statistical data on a regional basis, to understand behaviour and infection rates in specific areas. Allows for user to be presented with local information such as infection risk, additional testing or services available in an area.</td>
</tr>
<tr>
<td>Area Risks</td>
<td>Infection Risk Level for an area (either postcode district or local authority). See Note 1</td>
<td>Published by the Joint Biosecurity Centre</td>
<td>Distributed to all app instances</td>
<td>Passed to the Cloud by 3rd party. Shared will all App instances.</td>
<td>As long as the app is installed</td>
<td>Allows for the user to be presented with infection risk for local area and other areas. Whether this is by Local Authority or Postcode District is determined by the latest public health policy.</td>
</tr>
<tr>
<td>Test status and test process</td>
<td>Results of Testing</td>
<td>NPEx (National Pathology Exchange) National Test Database, which is passed the data by the Testing Labs</td>
<td>Distributed to all app instances</td>
<td>Passed to the Cloud by 3rd party. Shared will all App instances.</td>
<td>As long as the app is installed</td>
<td>Essential to determine which app users are positive index cases and the test process used (i.e. whether the test process started and ended in the app)</td>
</tr>
<tr>
<td>Isolation status and reason</td>
<td>Record of the Isolation and the rationale</td>
<td>Captured from the trigger for the self-isolation recommendation</td>
<td>Stored on the app securely. To be included in analytics when transmitted anonymously to the cloud</td>
<td>Stored on the App. Shared with Cloud with Analytics</td>
<td>Short. Aligned with the period the Isolation Countdown is Active</td>
<td>To set the isolation countdown accurately and to record the reason the user was recommended to self-isolate</td>
</tr>
<tr>
<td>Isolation Support Payment Function</td>
<td>Data collection about the generation and use of the Isolation Support Payment Function</td>
<td>Generated within the app</td>
<td>Stored in app and in app back-end. </td>
<td>Collected in app and passed to app back-end (product environment)</td>
<td>Within app, aligned with duration of isolation period</td>
<td>Essential to validation of isolation support payment function. </td>
</tr>
</tbody>
</table>