<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>App Feature</th>
<th>What data does the user enter to use this feature?</th>
<th>Where does the data go/ is the data stored?</th>
<th>Does the app do anything automatically with the users&rsquo; data?</th>
<th>What data does the app receive?</th>
<th>Can the user opt out of this feature?</th>
<th>Level of risk to personal data</th>
</tr>
</thead>
<tbody>
<tr>
<td>Symptoms</td>
<td>User selects boxes relating to symptoms they have</td>
<td>Anonymised data on symptoms is retained for epidemiological purposes</td>
<td>No. The user actively chooses to submit their symptoms.</td>
<td>The app receives/holds the algorithm identifying if the symptoms checked according with COVID-19 risk</td>
<td>The user can avoid reporting any symptoms if they wish.</td>
<td>Low</td>
</tr>
</tbody>
</table>