<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>Name</th>
<th>Description</th>
<th>Capture</th>
<th>Processing</th>
<th>Usage</th>
<th>Lifespan</th>
<th>Benefit of processing</th>
<th>Who needs the data item and what purpose does it serve?</th>
<th>Necessary or Discretionary?</th>
<th>Which benefit of the app does it support?</th>
</tr>
</thead>
<tbody>
<tr>
<td>Exposure Windows See below for the full details of the Exposure Window date set Note: only relevant to GAEN Mode 2</td>
<td>Where a match between a Diagnosis Key and Contact is detected an Exposure Window is generated which captures the details used to determine if a app user is alerted. Never discloses the user that was matched.</td>
<td>Apple / Google EN API, when a contact match is made and an Exposure Window is generated [related to the event]</td>
<td>Aggregated on the Cloud platform to provide statistics</td>
<td>Generated on the App, shared with Cloud</td>
<td>Short. From match detection until aggregated into statistics</td>
<td>Statistics on matches being made are critical to understand and improve the performance of the contact matching configuration</td>
<td>Understand that matches are being made at expected levels. This allows us to understand the accuracy of the isolation advice. Foundation technology Relates to public health and the standard of service provided to the user.</td>
<td>Necessary</td>
<td>1, 6</td>
</tr>
</tbody>
</table>