<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>Data Item</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>ScanInstances: minAttenuation</td>
<td>Minimum attenuation of the signal received during the scan (in dB) - will proxy as minimum distance for the encounter</td>
</tr>
<tr>
<td>ScanInstances: Typicalattenuation</td>
<td>Typical attenuation of the signal received during the scan (in dB) - will proxy as average distance for the encounter</td>
</tr>
<tr>
<td>ScanInstances: Timesincelastscan</td>
<td>Seconds elapsed since the previous scan, typically used as a weight - will be used to understand the duration of the encounter</td>
</tr>
</tbody>
</table>