<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>App feature</th>
<th>What data does the user enter to use this feature?</th>
<th>Where does the data go/ is the data stored?</th>
<th>Does the app do anything automatically with the users&rsquo; data?</th>
<th>What data does the app receive?</th>
<th>Can the user opt out of this feature?</th>
<th>Level of risk to personal data</th>
</tr>
</thead>
<tbody>
<tr>
<td>Alert</td>
<td>Their postcode district of residence (= first section of post code)</td>
<td>The app will send the risk score for each district to all phones</td>
<td>The app automatically rechecks the risk score for the stored postcode district to identify updates</td>
<td>The risk score for all areas</td>
<td>The user can avoid seeing the risk score for your area by deleting the app.</td>
<td>Low</td>
</tr>
</tbody>
</table>