<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>Data Item</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>acknowledgedStartOfIsolationDueToRiskyContact</td>
<td>[Exposure Notification Acknowledged] Adds a count of if the user has acknowledged the exposure notification and used to understand if an exposure notification is viewed and acknowledged. Enables the public health impacts of the notifications to be understand and a measure of the effectiveness of the service.</td>
</tr>
<tr>
<td>hasNotificationsEnabledBackgroundTick</td>
<td>[Notifications enabled] Adds a count if the user has enabled notifications for the app, captured from the apps current setting. Used to understand if the app is enabled to raise notification&rsquo;s. Helps measure whether the users are engaged with the Digital Contact Tracing service, as well as understanding the public health impacts and potential.</td>
</tr>
<tr>
<td>totalRiskyContactReminderNotifications</td>
<td>[Reminder Exposure Notifications] Counts the number of how many reminder exposure notifications were raised during the daily analytical period. User to understand the public health impacts of the notifications and monitor the service. Helps monitor technical issues around Exposure Notification and user alerts across Apple and Google systems.</td>
</tr>
</tbody>
</table>