<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>Data Item</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>receivedUnconfirmedPositiveTestResult</td>
<td>Counts when a positive test result with a test type that requires confirmatory testing is entered by the user or received by the app via the Testing API</td>
</tr>
<tr>
<td>isIsolatingForUnconfirmedTestBackgroundTick</td>
<td>Counts when a user has received a positive test result, from a test type that requires confirmation, and is advised to self-isolation</td>
</tr>
<tr>
<td>launchedTestOrdering exposure notifications</td>
<td>Notes if the user has launched the Test Ordering exposure notifications function around requiring a confirmatory test.</td>
</tr>
</tbody>
</table>