<table class="financial-data source-tableeditor">
<thead>
<tr>
<td><strong>Data Item</strong></td>
<td><strong>Description</strong></td>
</tr>
</thead>
<tbody>
<tr>
<td>ExposureWindows: object</td>
<td>Used by GAEN Mode 2 and based on data recorded in the GAEN, when a broadcast code is received by an app user. The data object created when an encounter with an index case happens.</td>
</tr>
<tr>
<td>ExposureWindows: date</td>
<td>The relevant date of the exposure window</td>
</tr>
<tr>
<td>ExposureWindows: List of ScanInstances</td>
<td>Part of the Exposure Window object, contains technical data regarding the scanning that happens when two devices are in proximity, each window will contain multiple Scan Instances - this provides an approximation of proximity and duration of encounters</td>
</tr>
<tr>
<td>ExposureWindows: Risk score version</td>
<td>Reference note on which risk score calculation method was used. Allowing us to check the relevant risk algorithm that was used.</td>
</tr>
<tr>
<td>ExposureWindows: Infectiousness of IndexCase (i.e. the app user who shared their Diagnosis Key)</td>
<td>Sharing of the Diagnosis Key, includes the ability to share the relevant data to calculate the infectiousness for the Diagnosis Key to be worked out. This helps calculate the risk score.</td>
</tr>
<tr>
<td>ExposureWindows: Risk Score</td>
<td>The risk score calculation from the measurements and risk basis</td>
</tr>
</tbody>
</table>