<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>Likelihood score</th>
<th>Descriptor</th>
<th>Frequency &ndash; how often might it happen?</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>Rare</td>
<td>This probably will never happen</td>
</tr>
<tr>
<td>2</td>
<td>Unlikely</td>
<td>Do not expect it to happen/reoccur, but it is possible it may do so</td>
</tr>
<tr>
<td>3</td>
<td>Possible</td>
<td>Might happen or reoccur occasionally</td>
</tr>
<tr>
<td>4</td>
<td>Likely</td>
<td>Almost certain to occur, but it&rsquo;s not a persisting issue or circumstance</td>
</tr>
<tr>
<td>5</td>
<td>Most certainly</td>
<td>Almost certain to happen/occur; possibly frequently</td>
</tr>
</tbody>
</table>