<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>Data Item</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>HadARiskContactNotifcationToday</td>
<td>becomes 1 if user had a risky contact today, otherwise is 0 (Note this is impacted if the circuit breaker is in place)</td>
</tr>
<tr>
<td>startedIsolationToday</td>
<td>Includes a count, i.e. 1, if the user started isolation today</td>
</tr>
</tbody>
</table>