<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>App feature</th>
<th>What data does the user enter to use this feature?</th>
<th>Where does the data go/ is the data stored?</th>
<th>Does the app do anything automatically with the users&rsquo; data?</th>
<th>What data does the app receive?</th>
<th>Can the user opt out of this feature?</th>
<th>Level of risk to personal data</th>
</tr>
</thead>
<tbody>
<tr>
<td>Check-In</td>
<td>The user scans QR codes of venues visited.</td>
<td>The phone retains the QR codes visited and when they were visited for 21 days</td>
<td>No. The data of where the user has been stays on the phone. The user may choose to use it as an aide memoir when talking to a human contact tracer.</td>
<td>List of QR codes with date and time for impacted venues.</td>
<td>The user can simply not check in to any venues. User can delete all or individual venues from their phone.</td>
<td>Low</td>
</tr>
</tbody>
</table>