<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>App feature</th>
<th>What data does the user enter to use this feature?</th>
<th>Where does the data go/ is the data stored?</th>
<th>Does the app do anything automatically with the users&rsquo; data?</th>
<th>What data does the app receive?</th>
<th>Can the user opt out of this feature?</th>
<th>Level of risk to personal data</th>
</tr>
</thead>
<tbody>
<tr>
<td>Test</td>
<td>The user clicks through to a website to order a test. The necessary data (e.g. address) is not entered into the app.<br /><br />The link that a user opens contains an 8-digit unique alpha-numeric code (&ldquo;CTA Token&rdquo;) that the test system needs, in order to associate the user&rsquo;s app and test kit.</td>
<td>The test and trace programme retain the user&rsquo;s data long enough to associate the test taker with their result. Once the test result has been conveyed to the person, this data is deleted.</td>
<td>The &lsquo;early adopters&rsquo; phase requires that the app reference code be passed to the test booking system. A user will not have the ability to edit this code during the booking process. An app user can still book a test via alternative channels if they do not wish for the app to be associated with a test kit.</td>
<td>If a user has started their test registration journey from the app, the mobile application will receive data that indicates whether a user has received a positive, negative or void test result. Other relevant information will be included such as the data of the test and the nature of the test.</td>
<td>If the user starts their test journey via the app, it will not be possible to opt out of the feature.<br /><br />However, a user can bypass this feature by visiting the test registration via a different channel.</td>
<td>Low</td>
</tr>
</tbody>
</table>