<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>Name</th>
<th>Description</th>
<th>Capture</th>
<th>Processing</th>
<th>Usage</th>
<th>Lifespan</th>
<th>Benefit of processing</th>
<th>Who needs the data item and what purpose does it serve?</th>
<th>Necessary or Discretionary?</th>
<th>Which benefit of the app does it support?</th>
</tr>
</thead>
<tbody>
<tr>
<td>Period</td>
<td>Records the start and end date of the analytical period</td>
<td>Recorded by the app daily, Automatic</td>
<td>Sent to the Cloud with other stats, then aggregated into summary statistics</td>
<td>As analytical data packets are sent across a daily period, it ensures that the stats are attributed to the correct period.</td>
<td>Aggregated in to summary statistics, which are then maintained as long as the app system is operational</td>
<td>Supports the accuracy of data and analysis by correctly attributing data items to the correct period.</td>
<td>Required across all uses to ensure data is appropriately attributed</td>
<td>Necessary</td>
<td>1,2,3,4,5, 6</td>
</tr>
<tr>
<td>Postcode District</td>
<td>First half (2 to 4 digits) of Post Code, before the space</td>
<td>Entered by the app user in app onboarding sequence. Text string</td>
<td>Sent to the Cloud with other stats, then aggregated into summary statistics</td>
<td>Used to understand data differences on a regional basis</td>
<td>Aggregated in to summary statistics, which are then maintained as long as the app system is operational</td>
<td>Enables system to present captured statistical data on a regional basis, to understand behaviour and infection rates in specific areas.</td>
<td>Public Health. Understand regional variations. Predict a R increase before it happens</td>
<td>Necessary</td>
<td>1,6</td>
</tr>
<tr>
<td>Local Authority</td>
<td>Based on the postcode district entered by the user</td>
<td>Selected by the app user and based upon the postcode district entered in the app onboarding sequence</td>
<td>Sent to the Cloud with other stats, then aggregated into summary statistics</td>
<td>Used to understand data differences on a regional basis</td>
<td>Aggregated into summary statistics, which are then maintained as long as the app system is operational</td>
<td>Enables system to present captured statistical data on a regional basis, to understand behaviour and infection rates in specific areas.</td>
<td>Public Health. Understand regional variations. Predict a R increase before it happens.</td>
<td>Necessary</td>
<td>1,6</td>
</tr>
<tr>
<td>Phone Model</td>
<td>Device type as reported by the operating system</td>
<td>Reported by phone OS as text string</td>
<td>Sent to the Cloud with other stats, then aggregated into summary statistics</td>
<td>Used to understand phone types the app is deployed to</td>
<td>Aggregated into summary statistics, which are then maintained as long as the app system is operational</td>
<td>Enable understanding of what mobile devices need to be supported, and if particular devices are behaving differently</td>
<td>Analysis. Determine issues with specific mobile devices. Medical device requirement Too many different phone models for a portion of this to be effective.</td>
<td>Necessary</td>
<td>1,2,3,4,5, 6</td>
</tr>
<tr>
<td>Operating System Version</td>
<td>The version number of the phone operating system</td>
<td>Reported by phone OS as text string</td>
<td>Sent to the Cloud with other stats, then aggregated in to summary statistics</td>
<td>Used to understand phone OS versions the app is deployed to</td>
<td>Aggregated in to summary statistics, which are then maintained as long as the app system is operational</td>
<td>Enable understanding of what phone OSs need to be supported, and if particular OS versions are behaving differently</td>
<td>Analysis. Determine issues with specific mobile device versions. Medical device requirement Many different operating system versions. Supports device investigation.</td>
<td>Necessary</td>
<td>1,2,3,4,5, 6</td>
</tr>
<tr>
<td>App Version Number</td>
<td>The version number of the app release</td>
<td>Reported by the App as text string</td>
<td>Sent to the Cloud with other stats, then aggregated in to summary statistics</td>
<td>Used to understand how many users have not upgraded to the latest version</td>
<td>Aggregated in to summary statistics, which are then maintained as long as the app system is operational</td>
<td>Used to direct what comms or nudges are needed to encourage users to upgrade</td>
<td>Analysis. Determine issues with specific app versions, and problems with users not upgrading. This is important because if we find defects, we want to know how many people are still running on old version to minimise their risk. Post market surveillance. Medical device requirement</td>
<td>Necessary</td>
<td>1,2,3,4,5, 6</td>
</tr>
<tr>
<td>Onboarding Completed</td>
<td>How many users have not only installed the app but completed the onboarding process</td>
<td>Reported by the App as an event</td>
<td>Sent to the Cloud with other stats, then aggregated in to summary statistics</td>
<td>Used to understand how many users have installed and onboarded with the app</td>
<td>Aggregated in to summary statistics, which are then maintained as long as the app system is operational</td>
<td>User to understand how many users install the app but then choose not to complete onboarding</td>
<td>Public Health. Understand how many users have installed the app. App store tells us how many have downloaded the app. This data tells us how many have enabled it. This is a safety issue to ensure people don&rsquo;t think they have protection that they do not have. Medical device requirement</td>
<td>Necessary</td>
<td>1,2,3,4,5,6</td>
</tr>
<tr>
<td>Usage Status</td>
<td>How many hours the app has been active/running on the phone in the past 24 hours</td>
<td>Captured within App as hour counts</td>
<td>Sent to the Cloud with other stats, then aggregated in to summary statistics</td>
<td>Used to contact active users and understand whether the app is running all 24 hours as expected</td>
<td>Aggregated in to summary statistics, which are then maintained as long as the app system is operational</td>
<td>Used to understand how many of the population are actively using the app, and if further promotion is needed/proving effective</td>
<td>Public Health. Understand how many users are actively using the app. The technology will wake the phone up every 2 hours to check the latest information has been downloaded. This data ensures contact tracing is on and working, that they are being protected. This will highlight if the technology is not working on phones.</td>
<td>Necessary</td>
<td>1,2,3,4,6</td>
</tr>
<tr>
<td>Storage Usage</td>
<td>How many bytes of persistent phone storage are we using</td>
<td>Measured by asking phone OS as integer byte count</td>
<td>Sent to the Cloud with other stats, then aggregated into summary statistics</td>
<td>Used to understand how much of the phone&rsquo;s storage data is in use</td>
<td>Aggregated into summary statistics, which are then maintained as long as the app system is operational</td>
<td>Used to understand if the app is causing problems due its data storage requirement, and what action might be needed</td>
<td>Analysis. Understand data storage issues. Important for equalities as older phones will have less storage available. This will ensure we understand where storage may be problematic.</td>
<td>Necessary</td>
<td>1,2,3,4</td>
</tr>
<tr>
<td>Data Download Usage</td>
<td>In the past 24 hours how many bytes of data were downloaded and uploaded by the device. Cumulative Upload and Download, divided across Wi-Fi and Mobile (Cellular) data.</td>
<td>Measured by asking phone OS as integer byte count</td>
<td>Sent to the Cloud with other stats, then aggregated in to summary statistics</td>
<td>Used to understand how much of the phones download data is being used</td>
<td>Aggregated in to summary statistics, which are then maintained as long as the app system is operational</td>
<td>Used to understand if the app is causing problems due its data download requirement, and what action might be needed</td>
<td>Analysis. Understand data download issues. Important for equalities to ensure understanding data usage.</td>
<td>Necessary</td>
<td>1,2,3,4</td>
</tr>
<tr>
<td>Exposure Events Note: only relevant to GAEN Mode 1</td>
<td>Matches between Positive Keys and Contacts Detected. Never discloses the user that was matched. Includes Duration, Attenuation (as a proxy for distance) and the resulting risk score.</td>
<td>Apple / Google EN API, when a contact match is made</td>
<td>Aggregated on the Cloud platform to provide statistics</td>
<td>Generated on the App, shared with Cloud</td>
<td>Short. From match detection until aggregated in to statistics</td>
<td>Statistics on matches being made are critical to understand and improve the performance of the contact matching configuration</td>
<td>Understand that matches are being made at expected levels. This allows us to understand the accuracy of the isolation advice. Foundation technology Relates to public health and the standard of service provided to the user.</td>
<td>Necessary</td>
<td>1, 6</td>
</tr>
<tr>
<td>Exposure Windows See below for the full details of the Exposure Window date set Note: only relevant to GAEN Mode 2</td>
<td>Where a match between a Diagnosis Key and Contact is detected an Exposure Window is generated which captures the details used to determine if an app user is alerted. Never discloses the user that was matched.</td>
<td>Apple / Google EN API, when a contact match is made and an Exposure Window is generated [related to the event]</td>
<td>Aggregated on the Cloud platform to provide statistics</td>
<td>Generated on the App, shared with Cloud</td>
<td>Short. From match detection until aggregated into statistics</td>
<td>Statistics on matches being made are critical to understand and improve the performance of the contact matching configuration</td>
<td>Understand that matches are being made at expected levels. This allows us to understand the accuracy of the isolation advice. Foundation technology Relates to public health and the standard of service provided to the user.</td>
<td>Necessary</td>
<td>1, 6</td>
</tr>
<tr>
<td>Pause Usage</td>
<td>How many times a day, and for how long the pause button is used to disable contact tracing</td>
<td>Captured within App as integer counts</td>
<td>Sent to the Cloud with other stats, then aggregated in to summary statistics</td>
<td>Used to understand how much time the app is in an idle state</td>
<td>Aggregated in to summary statistics, which are then maintained as long as the app system is operational</td>
<td>Understand value to users and usage of this feature.</td>
<td>Delivery of Service. Understand for how long users are actively using the app. Necessary for public health to be able to check that app is still active.</td>
<td>Necessary</td>
<td>1, 6</td>
</tr>
<tr>
<td>QR Code Check-in Counts</td>
<td>Count of QR check-ins logged by the phone</td>
<td>Captured within App as integer check-in count</td>
<td>Sent to the Cloud with other stats, then aggregated in to summary statistics</td>
<td>Used to understand whether the app is capturing the number of QR check-ins expected</td>
<td>Aggregated in to summary statistics, which are then maintained as long as the app system is operational</td>
<td>Informs programme on whether QR code programme is operating well, and what management actions are required</td>
<td>Analysis. Understand that check-ins are being made at expected levels. Extent to which we can alert people if venues are risky. Understanding the true level of risk i.e. are people not checking into risky venues vs they are not checking in venues at all.</td>
<td>Necessary</td>
<td>2, 6</td>
</tr>
<tr>
<td>Symptomatic Questionnaire Results</td>
<td>Result of the symptomatic questionnaire (suspected positive or not)</td>
<td>Captured within App as result of questionnaire submission</td>
<td>Sent to the Cloud with other stats, then aggregated in to summary statistics</td>
<td>Used to understand what % of users (and wider population) are thought to have covid like symptoms</td>
<td>Aggregated in to summary statistics, which are then maintained as long as the app system is operational</td>
<td>Enables future infection, testing and health provision to be predicted, helping to manage healthcare provision</td>
<td>Public Health. Understand symptom results of users. This is the advice given to a user based on the symptom questionnaire (isolate or not isolate). Medical device requirement</td>
<td>Necessary</td>
<td>3,5, 6</td>
</tr>
<tr>
<td>Isolation Status and Reason For more details on the data items within this data set see below</td>
<td>Whether/how the user has been asked to isolate, and whether this is due to self-diagnosis, test result, or exposure notification.</td>
<td>Captured within App as structured data capturing the current isolation status</td>
<td>Sent to the Cloud with other stats, then aggregated in to summary statistics</td>
<td>Used to understand what % of users (and wider population) are isolating</td>
<td>Aggregated in to summary statistics, which are then maintained as long as the app system is operational</td>
<td>Gauge impact of app in isolating potentially infectious users, a key success measure for the app</td>
<td>Analysis. Understand that isolations are being requested as expected. This is a public health point around how many people have been asked to stay home and where are they. Medical device requirement as output from symptomatic Questionnaire</td>
<td>Necessary</td>
<td>4,5, 6</td>
</tr>
<tr>
<td>Test Status and Test Process For more details on the data items within this data set see below</td>
<td>When the user has been recommended to take a test, what the result was, and why we recommended them (self-diagnosis or exposure notification). Also captures the testing journey, to help ensure this is scrutinized and forms part of the analysis undertaken</td>
<td>Captured within App as structured data capturing test results</td>
<td>Sent to the Cloud with other stats, then aggregated in to summary statistics</td>
<td>Used to understand how users have tested, which can be compared to what direction the app gave them</td>
<td>Aggregated in to summary statistics, which are then maintained as long as the app system is operational</td>
<td>Gauge impact of app in helping users get access to tests and identifying infectious individuals</td>
<td>Analysis. Understand how symptoms submitted or contact matches made relate to test results. If we have told someone to isolate because of questionnaire response or contact match, then we would need to understand their test result to measure to efficacy of the system. Medical device requirement as output from symptoms Questionnaire</td>
<td>Necessary</td>
<td>4, 5, 6</td>
</tr>
<tr>
<td>Isolation Support Payment Function</td>
<td>Counts of the use Isolation Support Payment function</td>
<td>Generated within the app with the use of Isolation Support Payment</td>
<td>Sent to the Product Environemnt with other stats, then aggregated into summary statistics</td>
<td>As analytical data packets are sent across a daily period, it ensures that the stats are attributed to the correct period.</td>
<td>Aggregated in to summary statistics, which are then maintained as long as the app system is operational</td>
<td>Essential to the validation of the Isolation Support Payment function</td>
<td>Required for purpose of monitoring functions and analysis of use of service</td>
<td>Necessary</td>
<td>6</td>
</tr>
<tr>
<td>Exposure Matches</td>
<td>Counts the number of risky and non risky matches between Diagnosis Keys and Broadcast Codes</td>
<td>Generated within the app and part of the GAEN function.</td>
<td>Sent to the Product Environment with other stats, then aggregated into summary statistics</td>
<td>As analytical data packets are sent across a daily period, it ensures that the stats are attributed to the correct period.</td>
<td>Aggregated in to summary statistics, which are then maintained as long as the app system is operational</td>
<td>Essential to the maintaining the notification service and understanding of the exposure window functionality.</td>
<td>Required for purpose of monitoring functions and analysis of use of digital contact tracing</td>
<td>Necessary</td>
<td>1, 6</td>
</tr>
<tr>
<td>User Notification Analytics</td>
<td>Counts whether the user has responded to an Notification, provides a measure of the time taken to respond and measures the impact</td>
<td>Generated within the app and as part of the GAEN function.</td>
<td>Sent to the Product Environment with other stats, then aggregated into summary statistics</td>
<td>As analytical data packets are sent across a daily period, it ensures that the stats are attributed to the correct period.</td>
<td>Aggregated in to summary statistics, which are then maintained as long as the app system is operational</td>
<td>Essential to the monitoring the notification service and the impacts upon app users.</td>
<td>Delivery of Service. Understand impact and value of alerts ot users. Necessary for public health to determine value and impact of alerts.</td>
<td>Necessary</td>
<td>1, 6</td>
</tr>
<tr>
<td>Confirmatory Testing Analytics</td>
<td>Counts whether a user has received and/or responded to a confirmatory test recommendation from the app.</td>
<td>Generated within the app as part of the testing result journey</td>
<td>Sent to the Product Environment with other stats, then aggregated into summary statistics</td>
<td>As analytical data packets are sent across a daily period, it ensures that the stats are attributed to the correct period.</td>
<td>Aggregated in to summary statistics, which are then maintained as long as the app system is operational</td>
<td>Essential to the monitoring the testing process and the use of the confirmatory testing journey.</td>
<td>Delivery of Service. Understand impact and value of alerts to users. Necessary for public health to understand impacts of confirmatory testing.</td>
<td>Necessary</td>
<td>1, 6</td>
</tr>
<tr>
<td>Isolation Period Support Analytics [Onset Symptoms Date]</td>
<td>Counts when a user is prompted to enter an onset of symptoms date, whether symptoms are added and a note on whether they occurred before a test result was received.</td>
<td>Generated within the app as part of the testing result journey.</td>
<td>Sent to the Product Environment with other stats, then aggregated into summary statistics</td>
<td>As analytical data packets are sent across a daily period, it ensures that the stats are attributed to the correct period.</td>
<td>Aggregated into summary statistics, which are then maintained as long as the app system is operational</td>
<td>Essential to monitoring the function of the app, ensuring that users receive the isolation advice in line with the latest guidance. Supports public health and understanding of COVID-19 by ensuring that all users have an opportunity to enter an onset of symptoms date. By understanding when no symptoms are recorded or noted supports greater understanding of testing and symptoms by app users.</td>
<td>Delivery of Service. Enables public health understanding include relationship between testing and symptoms</td>
<td>Necessary</td>
<td>4, 6</td>
</tr>
</tbody>
</table>