<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>Name</th>
<th>Description</th>
<th>Capture</th>
<th>Processing</th>
<th>Distribution</th>
<th>Lifespan</th>
<th>Benefit of processing</th>
</tr>
</thead>
<tbody>
<tr>
<td>Isolation payments token</td>
<td>Single use temporary token generated to uniquely identify isolation period due to risky encounter</td>
<td>Generated in app back-end service</td>
<td>Stored in app and in app back-end. The gateway to verify that the transaction originated from the app and is valid for isolation payment</td>
<td>Passed between app back-end, app and gateway, and then passed to the The CTA Service (via ITS) for further processing of the claim</td>
<td>Up to the duration of the isolation period for contact cases (currently configured as 14 days from encounter date)</td>
<td>Used by the CTA Service system as part of two-factor authentication to ensure that application relates to a unique isolation period. For more details see the CTA Service system Privacy Notice and DPIA.</td>
</tr>
<tr>
<td>Encounter date</td>
<td>Date of encounter with index case for current isolation period that triggered the recommendation to isolate</td>
<td>Captured by app following exposure notification</td>
<td>Held in app until hand-off to gateway application process</td>
<td>Passed from app to app back-end and from app back-end to gateway</td>
<td>Up to the duration of the isolation period for contact cases (currently configured as 14 days from encounter date)</td>
<td>Used by the CTA Service to support eligibility checks for isolation payment.</td>
</tr>
<tr>
<td>Isolation end date</td>
<td>Date of end of current isolation period due to risky encounter with index case that triggered the recommendation to isolate</td>
<td>Calculated by app</td>
<td>Held in app until hand-off to gateway process</td>
<td>Passed from app to app back-end and from app back-end to gateway</td>
<td>Up to the duration of the isolation period for contact cases (currently configured as 14 days from encounter date)</td>
<td>Used by the CTA Service to support eligibility checks for isolation payment.</td>
</tr>
</tbody>
</table>