<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>Data Item</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>hasHadRiskyContactBackgroundTick</td>
<td>Notes if the app is aware that the user has had a risky contact; this currently happens during an isolation and for the 14 days after isolation.</td>
</tr>
</tbody>
</table>