<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>Name</th>
<th>Description</th>
<th>Capture</th>
<th>Processing</th>
<th>Distribution</th>
<th>Lifespan</th>
<th>Benefit of processing</th>
</tr>
</thead>
<tbody>
<tr>
<td>Diagnosis Key Sets</td>
<td>Diagnosis Keys from the GAEN that are requested when a user is confirmed positive and shared with other users This does not include references data items that enables the infectiousness of the contact to be calculated.</td>
<td>Apple/Google GAEN, when a suspected positive user is requested to submit their keys</td>
<td>Whilst a transmission risk is associated with the Key before use within the NHS COVID-19 app systems it will not be shared for interoperability at this stage.</td>
<td>Provided to the Federated Server for other jurisdictions within the interoperability agreement to utilise to pass on to their app users. Functionality controlled by GAEN.</td>
<td>14 days.</td>
<td>Essential that these keys are distributed to all participating apps as they are the data that is matched against to identify contacts with index cases</td>
</tr>
</tbody>
</table>