<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>Sender</th>
<th>Content</th>
<th>Pseudonymised</th>
<th>Mode</th>
<th>Security</th>
<th>Recipient</th>
</tr>
</thead>
<tbody>
<tr>
<td>DHSC secure computing infrastructure</td>
<td>Diagnosis Keys submitted by COVID-19 positive users</td>
<td>No - not identifiable</td>
<td>Distribute API</td>
<td>-</td>
<td>User / Local Application</td>
</tr>
<tr>
<td>DHSC secure computing infrastructure</td>
<td>Diagnosis Keys submitted by COVID-19 positive users</td>
<td>No - not identifiable</td>
<td>Distribute API</td>
<td>-</td>
<td>User / Local Application</td>
</tr>
<tr>
<td>DHSC secure computing infrastructure</td>
<td>Diagnosis Keys</td>
<td>No - not identifiable</td>
<td>App Rest API</td>
<td>-</td>
<td>Federated Servers (under control of Scottish programme)</td>
</tr>
<tr>
<td>DHSC secure computing infrastructure</td>
<td>Isolation Support Payment token and supporting data</td>
<td>No - not identifiable</td>
<td>TTSP Gateway API</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>TTSP Mobile API</td>
<td>-</td>
<td>DHSC secure computing infrastructure</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>