<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>Name</th>
<th>Please state whether they&rsquo;re a data controller (DC) or a data processor (DP)</th>
<td></td>
</tr>
</thead>
<tbody>
<tr>
<td>Amazon Web Services</td>
<td>Processor (Hosting of Cloud Services)</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>The Health Informatics Services (THIS) hosted by Calderdale and Huddersfield NHS Foundation Trust (CHFT) utilising the NPEx</td>
<td>Processor (Provision of test code with result)</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>