<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>App Feature</th>
<th>What data does the user enter to use this feature?</th>
<th>Where does the data go/ is the data stored?</th>
<th>Does the app do anything automatically with the users&rsquo; data?</th>
<th>What data does the app receive?</th>
<th>Can the user opt out of this feature?</th>
<th>Level of risk to personal data</th>
</tr>
</thead>
<tbody>
<tr>
<td>Isolate</td>
<td>The user enters symptoms or a test result (see features above)</td>
<td>The app retains the date when a symptom entry was made so as to be able to offer a countdown until isolation ends.</td>
<td>If the user enters symptoms that accord with COVID-19 the app will automatically advise them to isolate. They may discuss this advice with NHS 111</td>
<td>This feature uses data entered into other features (see above)</td>
<td>Having entered positive symptoms, the isolate countdown will be automatically activated. The user could avoid this by deleting the app.</td>
<td>Low</td>
</tr>
</tbody>
</table>