<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>Functions of the App</th>
<th>Data Held on the App</th>
<th>Analytical Data Set and Event Analytical Data Set</th>
<th>Data Flow to the Product Environment</th>
<th>Data Flows from the Product Environment</th>
<th>Product Environment (via APIs)</th>
</tr>
</thead>
<tbody>
<tr>
<td>As you interact with the different functions of the app, you will generate data. Some within just the Apple/Google functionality, and some within our app. Those interactions, detailed below, are captured in the analytical data set. These logs do not detail individual events but counts or summaries of which functions are used.</td>
<td>Data held on the app falls into the following categories<br /><br />Data about the user:Details about a relevant test status, venues checked into, the postcode district and the contact detected.<br />Reference material:The app will hold data about each postcode districts level of risk and &ldquo;at risk venues&rdquo;. This allows the app to appropriately update the app user. It will also hold a list of the Diagnosis Keys that could pose a risk to app users. These alert app users without the app sharing the identity of those app users.</td>
<td>As you interact with different functions, the analytical data set on the phone is updated. For example, if you check into a venue this adds one to the count of check-ins. If this fails, is abandoned or cancelled then another count is updated. As discussed above, this helps us determine if the app and its functions are working properly.</td>
<td>Each day your app will bundle its current analytical data and provide it to the central system&rsquo;s API (how the system and app communicates). Whilst the timing is set by the app it is dependent on access to the network and systems.</td>
<td>On average at 2 hour intervals, the product environment (central system) delivers updates to all app users on app users who have tested positive (via the Diagnosis Key), &ldquo;at risk&rdquo; venues and the risk of postal venues.</td>
<td>As the analytical data set lands, it is treated (for example, the IP address is removed) and added to the data store. No user ID is sent from the app with the analytical data and any ID assigned on landing is not consistent across analytical periods. (For example, the row level for the same user will likely never be the same across uploads). This helps ensure we cannot identity which app user is you.</td>
</tr>
</tbody>
</table>