<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>Ref</th>
<th>Question</th>
<th>Yes</th>
<th>No</th>
<th>Unsure</th>
<th>Comments</th>
</tr>
</thead>
<tbody>
<tr>
<td>I</td>
<td>Is the information about individuals likely to raise privacy concerns or expectations e.g. health records or other information people would consider particularly private?</td>
<td>x</td>
<td>-</td>
<td>-</td>
<td>In the absence of proper controls, and transparency about how the App functions and how the data collected is used, the deployment of the App could give rise to privacy concerns.</td>
</tr>
<tr>
<td>Ii</td>
<td>Will the initiative involve the collection of new information about individuals?</td>
<td>x</td>
<td>-</td>
<td>-</td>
<td>The Exposure Window and updated analytical data set involve additional data items collected about app users. However, they are within the existing legal framework, purposes and objectives of the app. They represent an improvement in the technology and analysis available for the app and its functions.</td>
</tr>
<tr>
<td>Iii</td>
<td>Are you using information about individuals for a purpose it is not currently used for, or in a way it is not currently used?</td>
<td>x</td>
<td>-</td>
<td>-</td>
<td>Yes, the app can now support an user&rsquo;s application for support payments (a COVID-19 support payment, see&nbsp;https://www.gov.uk/test-and-trace-support-payment&nbsp;for England, and&nbsp;https://gov.wales/self-isolation-support-scheme, for wales). This the minimal amount of data to support the application process and ensure that the user is supported (for example, their self-isolation period is set consistently). However, the data items do not constitute personal data within the app or the apps systems.</td>
</tr>
<tr>
<td>Iv</td>
<td>Will the initiative require you to contact individuals in ways which they may find intrusive?</td>
<td>-</td>
<td>x</td>
<td>-</td>
<td>-</td>
</tr>
<tr>
<td>v</td>
<td>Will information about individuals be disclosed to organisations or people who have not previously had routine access to the information?</td>
<td>x</td>
<td></td>
<td>-</td>
<td>Diagnosis Keys will be shared with app users in other jurisdictions. However, this is using the existing privacy and identity protections of the GAEN contract tracing system. This renders the Diagnosis Keys as anonymised to support interoperability.</td>
</tr>
<tr>
<td>vi</td>
<td>Does the initiative involve using new technology which might be perceived as being privacy intrusive e.g. biometrics or facial recognition?</td>
<td>x</td>
<td>-</td>
<td>-</td>
<td>Whilst the Bluetooth technology underpinning the proximity recording is not new technology, the use of the technology for this purpose in the context of a large-scale pandemic response is new.</td>
</tr>
<tr>
<td>vii</td>
<td>Will the initiative result in making decisions or taking action against individuals in ways which can have a significant impact on them?</td>
<td>-</td>
<td>x</td>
<td>-</td>
<td>No</td>
</tr>
</tbody>
</table>