<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>Likelihood score</th>
<th>Descriptor</th>
<th>Frequency &ndash; how often might it happen?</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>Very low</td>
<td>Unlikely to have any impact</td>
</tr>
<tr>
<td>2</td>
<td>Low</td>
<td>May have impact</td>
</tr>
<tr>
<td>3</td>
<td>Medium</td>
<td>Likely to have an impact</td>
</tr>
<tr>
<td>4</td>
<td>High</td>
<td>Highly probably it will have a significant impact</td>
</tr>
<tr>
<td>5</td>
<td>Very high</td>
<td>Will have a major impact</td>
</tr>
</tbody>
</table>