<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>Sender</th>
<th>Content</th>
<th>Pseudonymised?</th>
<th>Mode</th>
<th>Security</th>
<th>Recipient</th>
</tr>
</thead>
<tbody>
<tr>
<td>User &ndash; installed App</td>
<td>Diagnosis Keys</td>
<td>No - not identifiable</td>
<td>Submit API</td>
<td>-</td>
<td>DHSC secure computing infrastructure</td>
</tr>
<tr>
<td>User &ndash; Installed App</td>
<td>Daily Analytics</td>
<td>Anonymous</td>
<td>Analytics API</td>
<td>-</td>
<td>-</td>
</tr>
<tr>
<td>User &ndash; Installed App</td>
<td>Event Analytical Data Set</td>
<td>Anonymous</td>
<td>Analytics API</td>
<td>-</td>
<td>DHSC secure computing infrastructure</td>
</tr>
<tr>
<td>National Pathology Exchange (NPEx)</td>
<td>When test results are received from a lab, NPEx matches resultto ref code and sends the code, result and test date to DHSC secure computing infrastructure.</td>
<td>Yes</td>
<td>CSV file</td>
<td>Security: TLS with API key, IP source address restriction</td>
<td>DHSC secure computing infrastructure</td>
</tr>
<tr>
<td>Federated Servers</td>
<td>Diagnosis Keys</td>
<td>Anonymous</td>
<td>App Rest API</td>
<td>-</td>
<td>DHSC secure computing infrastructure</td>
</tr>
</tbody>
</table>