<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>Data Item</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>haveActiveIpcToken</td>
<td>This is a count of whether devices are displaying the financial support button (this is triggered once the exposure notification event has happened). The button will appear on the device for the duration of their isolation period. &nbsp;</td>
</tr>
<tr>
<td>receivedActiveIpcToken</td>
<td>This is a count of whether the device displayed the financial support button for the first time on a given day. This differs from the above as haveActiveIpcToken counts every device displaying the button which appears over a 14 day period. This allows us to validate that the service is working</td>
</tr>
<tr>
<td>tappedIsolationPaymentsButton</td>
<td>This is a count of whether a device has clicked the financial support button.</td>
</tr>
<tr>
<td>launchedIsolationPaymentsApplication</td>
<td>This counts whether the device has launched the Isolation Payment application. It will be important to ensure the count of tappedIsolationPaymentsButton (i.e. the number of devices which have triggered the financial support button) this figure to ensure the number of devices which trigger the process to launch into the Gateway portal. If these numbers are different proactive trouble shooting can be conducted to determine any technical issues. This allows us to validate the service is working correctly.</td>
</tr>
</tbody>
</table>