<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>Data Item</th>
<th>Specific Use to support Exposure Windows</th>
</tr>
</thead>
<tbody>
<tr>
<td>Local Authority (Area)</td>
<td>Please Note: subject to the re-identification protections for areas See Analytics Data Table above, Used to support the public health analysis of the data to understand differences across areas</td>
</tr>
<tr>
<td>Postcode District (Area)</td>
<td>Please Note: subject to the re-identification protections for areas See Analytics Data Table above, Used to support the public health analysis of the data to understand differences across areas</td>
</tr>
<tr>
<td>Phone Model</td>
<td>Enables the analysis of the data provided to account for and monitor the variations in phone model</td>
</tr>
<tr>
<td>Operating System</td>
<td>Enables the analysis of the data provided to account for and monitor the variations in operating systems</td>
</tr>
<tr>
<td>App Version</td>
<td>Enables the analysis of the data provided to account for and monitor the differences in the app version</td>
</tr>
<tr>
<td>Type of Event</td>
<td>Notes the type of event to support the accurate flow of data</td>
</tr>
</tbody>
</table>