<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>Data Item</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>number of positive tests via Test Labs API</td>
<td>The number of positive test results (either 0 or 1) updated via the Test Lab API</td>
</tr>
<tr>
<td>number of positive test Token API</td>
<td>The number of positive test results updated via the user adding a test result code</td>
</tr>
<tr>
<td>number of negative tests Test Labs API</td>
<td>The number of negative test results updated via the Test Lab API</td>
</tr>
<tr>
<td>number of negative test Token API</td>
<td>The number of negative test results updated via the user adding a test result code</td>
</tr>
<tr>
<td>number of void tests Test Labs API</td>
<td>The number of void test results (either 0 or 1) updated via the Test Lab API</td>
</tr>
<tr>
<td>number of void test Token API</td>
<td>The number of void test results updated via the user adding a test result code</td>
</tr>
</tbody>
</table>