<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>Risk reference (Ver 0.2): A unique coding that allows the risk to be easily identified</th>
<th>Privacy issue &ndash; element of the initiative that gives rise to the risk</th>
<th>Risk to individuals (complete if appropriate to issue or put not applicable)</th>
<th>Compliance risk (complete if appropriate to issue or put not applicable)</th>
<th>Associated organisation/corporate risk (complete if appropriate to issue or put not applicable)</th>
<th>Proposed solution(s)/mitigating action(s) &ndash; systems and processes that are or will be in place and operating that mitigate this risk, including assurances</th>
<th>Result, is the risk accepted, eliminated, or reduced?</th>
<th>Risk to individuals is now acceptable? Signed off by?</th>
<th>Date for completion</th>
<th>Likelihood</th>
<th>Impact</th>
<th>RAG status</th>
</tr>
</thead>
<tbody>
<tr>
<td>R001</td>
<td>Transferring of data outside of the EEA without proper controls</td>
<td>Risk to individuals arising from inadequate controls to protect privacy in non-adequate country.</td>
<td>Non-compliance: No adequacy arrangement results in serious non-compliance with the data protection legislation. This faces regulatory action and exposes the vulnerability of an organisation as it is a breach.</td>
<td>If consequently there is any loss of personal data to non-trusted sources this is a further breach and risks privacy re onward sharing of personal data; reputational damage; loss of trust by data subjects.</td>
<td>All data collected by the app and potentially accessible by any data processors is not directly identifiable (pseudonymised in GDPR) terms. ; Contracts and Data Processing Agreements are based on Government Cloud Framework and prevent processing outside of the EU only with permission and adequate controls (-, see GCloud framework); Ongoing contract oversight of any data processors ; Authorisation of User Access process ; Access Control and Audit Log of user access across environments ; Framework for onboarding/offboarding suppliers in line with NHS/DHSC requirements ; Nature of the analytical data set collected from app users ;</td>
<td>Reduced (Likelihood)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>18-Sep-20</td>
<td>1</td>
<td>2</td>
<td>Green</td>
</tr>
<tr>
<td>R002</td>
<td>Misuse of information by those with access</td>
<td>Loss of personal data to non-trusted sources; privacy risk due unauthorised sharing of personal data.</td>
<td>Non-compliance with data protection legislation.</td>
<td>Vulnerability of organisation to data breach and possible regulatory action; reputational damage; loss of trust by app users</td>
<td>Limited and controlled access to data environments (product) and systems that support the app , Staff contracts (both direct and if employed as data processors) ; Data Processing Agreements based on GCloud framework ; Data does not reveal app users identity ; Ongoing contract oversight of any data processors ; Authorisation of User Access process ; Access Control and Audit Log of user access across environments ; Framework for onboarding/offboarding suppliers in line with NHS/DHSC requirements ;</td>
<td>Reduced (Likelihood)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>18-Sep-20</td>
<td>1</td>
<td>2</td>
<td>Green</td>
</tr>
<tr>
<td>R003</td>
<td>Inadequate data processing agreements with data processors.</td>
<td>Risk to individuals arising from inadequate controls to protect privacy.</td>
<td>Non-compliance with Article 28 requirements.</td>
<td>Vulnerability of organisation to data breach and possible regulatory action; reputational damage; loss of trust by data subjects.</td>
<td>Data sets associated with the app do not make app users directly or indirectly identifiable ; Limited, controlled and audited access to data stores and services ; Contracts in place with suppliers including Data Processing Agreement (for example, covering data breaches) based on GCloud framework ; Ongoing contract oversight of any data processors ; Authorisation of User Access process ; Access Control and Audit Log of user access across environments ; Framework for onboarding/offboarding suppliers in line with NHS/DHSC requirements ;</td>
<td>Reduced (Likelihood)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>18-Sep-20</td>
<td>2</td>
<td>3</td>
<td>Amber/Green</td>
</tr>
<tr>
<td>R004</td>
<td>Lack of technical or organisational measures implemented to ensure appropriate security of the personal data</td>
<td>Risk to individuals arising from inadequate technical or organisational controls to protect the data. Data breach due to technical weakness (e.g. cyber-attack); access by unauthorised people.</td>
<td>Non-compliance with the data protection legislation &ndash; in particular Article 32.</td>
<td>Vulnerability of organisation to data breach and possible regulatory action; reputational damage; loss of trust by data subjects.</td>
<td>Data held by the app product, backup or analytical is not likely to constitute personal data as defined by GDPR ; Hosting arrangements are within standard NHS governance structures, subject to routine review and backed by contracts/oversight at least equivalent to GCloud ; Oversight and scrutiny by the National Cyber Security Centre [NCSC] ; PEN Testing undertaken on environment (-, PEN test report); Action plan and response to PEN test recommendations</td>
<td>Reduced (Likelihood)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>18-Sep-20</td>
<td>1</td>
<td>2</td>
<td>Green</td>
</tr>
<tr>
<td>R005a</td>
<td>Personal data not being encrypted in transit</td>
<td>Risk to individuals arising from inadequate technical controls to protect the data. data breach due to technical weakness (e.g. cyber-attack); access by unauthorised people.</td>
<td>Non-compliance with the data protection legislation &ndash; in particular Article 32.</td>
<td>Vulnerability of organisation to data breach and possible regulatory action; reputational damage; loss of trust by data subjects.</td>
<td>The data transmitted to the app, and between environments does not constitute personal data or has protections sufficient to reduce or eliminate identifiability ; Data flows to the app from the environment are undertaken through secure methods ; Oversight by NSCS ; PEN test ; routine PEN testing PEN test and plan to implement recommendations ;</td>
<td>Reduce (Impact)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>18-Sep-20</td>
<td>1</td>
<td>2</td>
<td>Green</td>
</tr>
<tr>
<td>R005b</td>
<td>Personal data not being encrypted at rest</td>
<td>Risk to individuals arising from inadequate technical controls to protect the data. data breach due to technical weakness (e.g. cyber-attack); access by unauthorised people.</td>
<td>Non-compliance with the data protection legislation &ndash; in particular Article 32.</td>
<td>Vulnerability of organisation to data breach and possible regulatory action; reputational damage; loss of trust by data subjects.</td>
<td>The data held does not constitute personal data or has protections sufficient to reduce identifiability ; Data is held on Amazon Web Services solutions, including S3, which is subject to security protections and encryption (Please confirm); The Analytical environment is hosted on Azure services and is subject to similar controls ; PEN testing of environments ; Oversight by the NCSC ; routine PEN testing PEN test and plan to implement recommendations ;</td>
<td>Reduce (Impact)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>18-Sep-20</td>
<td>1</td>
<td>2</td>
<td>Green</td>
</tr>
<tr>
<td>R006</td>
<td>Lack of testing which would assess and improve the effectiveness of such technical and organisational measures</td>
<td>Risk to individuals arising from inadequate technical controls to protect the data. data breach due to technical weakness (e.g. cyber-attack); access by unauthorised people.</td>
<td>Non-compliance with the data protection legislation &ndash; in particular Article 32.</td>
<td>Vulnerability of organisation to data breach and possible regulatory action; reputational damage; loss of trust by data subjects.</td>
<td>Limited identifiability of app users data rendering unlikely to be considered personal data (within the context of the app) ; Testing undertaken by contractor (Zuhlke) to ensure functionality and systems are tested ; Findings from Early Adopters programme (noting that this will involve live user data and needs to be managed appropriately) to test functions, scale and support services ; PEN test, recommendations and actions taken as a consequence</td>
<td>Reduce (Impact)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>18-Sep-20</td>
<td>1</td>
<td>2</td>
<td>Green</td>
</tr>
<tr>
<td>R007</td>
<td>Inadequate or misleading transparency information</td>
<td>App Users are not appropriately informed about the controller, purposes for processing, legal basis and other requirements of Articles 12 and 13.</td>
<td>Non-compliance with DP legislation in particular Articles 12 and 13; reputational damage.</td>
<td>Vulnerability of organisation to regulatory action.</td>
<td>Data and Privacy page in the app (as part of entry into system) ; Privacy Notice for the app ; Communication campaign for public about app ; Outreach to community groups ; User Research (comms and app) Publishing DPIA ; Privacy Notice (Young Persons); Privacy Information (Easy Read); Learning from outreach programme; Publication of anonymisation, user data journey&rsquo;s and scenarios; Ongoing review of Privacy information</td>
<td>Reduce (Impact)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>28-Nov-20</td>
<td>1</td>
<td>4</td>
<td>Amber</td>
</tr>
<tr>
<td>R008</td>
<td>Misuse (by app user or those with access to the phone) of token issued by App for test requests and results management</td>
<td>If reference code obtained and used by another individual they could order a test pretending to be them.</td>
<td>Non-compliance with statutory obligations and Data Protection legislation, in particular accuracy</td>
<td>Reputational risk. Failure to fulfil obligations towards app users.</td>
<td>Note: Mitigation relies on the action of the app use and those with access to their phone</td>
<td>Accepted</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>18-Sep-20</td>
<td>3</td>
<td>1</td>
<td>Amber/Green</td>
</tr>
<tr>
<td>R009</td>
<td>Malicious access to Cloud Services database by cyber attack Extraction and re-identification of Cloud Services database data by combination with other data</td>
<td>Risk to individuals arising from inadequate technical controls to protect the data. Data breach due to technical weakness (e.g. cyber-attack); access by unauthorised people.</td>
<td>Non-compliance with the data protection legislation &ndash; in particular Article 32. Notifiable security breach. Breach of confidentiality. Reputational damage. Undermining purpose of app.</td>
<td>Reputational damage. Undermining purpose of app.</td>
<td>Data does not reveal app users&rsquo; identity ; Technical protections in place ; Oversight by NCSC ; PEN Testing ; routine PEN testing PEN test and implemented recommendations ; Threat model of malicious access to cloud services ; Summary of cyber risks, ongoing monitoring and reporting to senior Cyber Information Security governance ; Security Risk Mitigation Plan and ongoing work ;</td>
<td>Reduce (Likelihood)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>18-Sep-20</td>
<td>1</td>
<td>5</td>
<td>Amber</td>
</tr>
<tr>
<td>R010a</td>
<td>Identification of infected individual due to minimal contact - e.g. isolated person with carer who is only contact</td>
<td>Identity of infected person implicitly revealed</td>
<td>Use of the App may be considered to breach confidentiality by implication.</td>
<td>Reputational damage. Undermining purpose of app.</td>
<td>Broader COVID-19 Public Health Emergency context and contact tracing ; Contents of the Privacy Notice addressing point</td>
<td>Accepted</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>18-Sep-20</td>
<td>3</td>
<td>3</td>
<td>Amber</td>
</tr>
<tr>
<td>R010b</td>
<td>There is a risk for app users with limited social interactions that they might be identifiable or be able to identify other app users due to these limited social interactions</td>
<td>Reidentification (impact on privacy and anonymity)</td>
<td>Undermining compliance with statutory duties and information rights law (GDPR/DP, CLDC, HRA)</td>
<td>Loss of public trust and concern about use of the app</td>
<td>Privacy by design and default ; Control of security of the phone by the phone and from the operating system provide ; Advice provided to app users in privacy notice ; Placed within context of Public Health COVID-19 and manual contact tracing ; Publication of anonymisation, user data journey&rsquo;s and scenarios; Ongoing review of Privacy information</td>
<td>Accepted</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>18-Sep-20</td>
<td>1</td>
<td>2</td>
<td>Green</td>
</tr>
<tr>
<td>R011</td>
<td>Malicious or hypochondriac incorrect self-symptom analysis on app.</td>
<td>Proximity users receive false proximity alerts and advice.</td>
<td>The App does not control accuracy of the data submitted to it.</td>
<td>Reputational damage. Undermining purpose of app.</td>
<td>Information provided within the app and to app users about symptoms and description ; Wider Public Health programme on learning from self-diagnosis ; User Research and feedback programme ; Review of technical controls and issuing of alerts (limited by data provided by API) ; Ongoing work with Apple/Google regarding Exposure Logging and Notification to manage alerts in a social isolation context ; Advice to contact NHS 111 (or equivalent in Wales) if concerned or for further guidance ;</td>
<td>Accepted</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>18-Sep-20</td>
<td>3</td>
<td>3</td>
<td>Amber</td>
</tr>
<tr>
<td>R012</td>
<td>Absence of controls over access to app by children (below age range for app)</td>
<td>Inappropriate use by non-competent children resulting e.g. in false self-reported symptoms and proximity alerts.</td>
<td>The App does not control accuracy of the data submitted to it.</td>
<td>Undermining purpose of app.</td>
<td>Controls within the app store allows parents to limit access to the app but this is beyond the control of the organisation ; Users are asked to confirm their age ; Lawful basis for age users with age range (16 to 18) reviewed and confirmed ;</td>
<td>Accepted</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>18-Sep-20</td>
<td>1</td>
<td>3</td>
<td>Green</td>
</tr>
<tr>
<td>R013</td>
<td>Lower than expected public trust in NHS COVID-19 App</td>
<td>The public do not benefit from the App due to inaccurate reports (or high profile debate about the relative merits of a decentralised -v- centralised model) a suboptimal number of people download the App</td>
<td>Failure to fulfil statutory duties</td>
<td>Risk of damage to the reputation of the organisation and effectiveness of the response to COVID-19.</td>
<td>Extensive comms plan to public , and other stakeholders (inc civil liberties campaigners) to promote trust ; publishing the Privacy Notice , DPIA and source code ; Ongoing information, update and engagement campaign ; Ongoing consultation with Information Commissioner&rsquo;s Office (ICO) ; Ongoing consultation with the National Data Guardian (NDG); Privacy Notice (Young Persons) and Privacy Information (Easy Read); Anonymisation, User Data Journeys and Scenarios</td>
<td>Reduce (Likelihood)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>18-Sep-20</td>
<td>2</td>
<td>3</td>
<td>Amber</td>
</tr>
<tr>
<td>R014a</td>
<td>There is no mechanism for users see what data deriving from them is held on the app&rsquo;s DHSC secure computing infrastructure database (because it is not possible to relate the data back to individuals)</td>
<td>Users unable to assure themselves that their personal data is not held exercise their other subjects&rsquo; rights.</td>
<td>None. Article 11(2) applies. For the right to object (Article 21) DHSC should be able to demonstrate compelling legitimate grounds. No data rights are being unreasonably or illegally curtailed</td>
<td>Reputational risk.</td>
<td>As app users are not identifiable within the context of the app data subject rights need to be understood in that context ; Information provided to app users about the use of their data, the limitations on identifiability as part of the Privacy Notice ; Where possible users have been given access to the data held on the app with the ability to delete some or all of it app functionality); Contents of app and broader comms ; See relevant section of document.</td>
<td>Reduce (Impact)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>18-Sep-20</td>
<td>2</td>
<td>4</td>
<td>Amber</td>
</tr>
<tr>
<td>R014b</td>
<td>There is no mechanism for users to exercise their rights in relation to personal held on the phone</td>
<td>Users unable to exercise relevant data subject rights (such as Subject Access Requests) as far is applicable</td>
<td>None</td>
<td>Reputational risk</td>
<td>The app allows users to see data it holds, such as the venues that were visited and the timing. There is a function to delete data held on the app, either all or individual venues (management of risks and coercion) ;Data held on the app may only be identifiable to the app user ; Data should be treated as a user held record ; Information provided to app users about the use of their data, the limitations on identifiability as part of the Privacy Notice ; Contents of app and broader comms ; See relevant section of document.</td>
<td>Accepted</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>18-Sep-20</td>
<td>2</td>
<td>3</td>
<td>Amber</td>
</tr>
<tr>
<td>R015</td>
<td>Uncertainty over retention of individual data items</td>
<td>There is a risk that app users will not know how long their data is to retained at the start of processing</td>
<td>Compliance with Data Protection legislation (if applicable) and broader principles of data storage</td>
<td>Compliance with Data Protection legislation (where applicable), failure to be clear and transparent with app users</td>
<td>Details on retention of data items where known is included in the DPIA and PN (+); Limited identifiability places retention outside of GDPR (but still needs to be set) ; Data items should be considered as a data set to support organisational accountability and retention will reflect this requirement</td>
<td>Accepted</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>18-Sep-20</td>
<td>4</td>
<td>1</td>
<td>Green</td>
</tr>
<tr>
<td>R016</td>
<td>Unauthorised disclosure of a user&rsquo;s health status to other app users</td>
<td>Unlawful disclosure resulting in breach of confidentiality and distress to user.</td>
<td>Breach of Article 5(1)(a) &ndash; processed lawfully, fairly and in a transparent manner</td>
<td>Vulnerability of organisation to regulatory action and reputational damage.</td>
<td>Diagnosis Keys that are distributed for contact matching do not relate to identifiable individuals ; Secure and privacy preserving method of returning test results to app users ; Clarity in Privacy Notice about potential for potential identifiability outside of the context of the app (i.e. base level risk of public health incidents) ; User Data Journey&rsquo;s and associated scenarios explaining level of risk and impact; Guidance and comms to users</td>
<td>Reduce (Impact)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>18-Sep-20</td>
<td>1</td>
<td>5</td>
<td>Amber</td>
</tr>
<tr>
<td>R017</td>
<td>Disclosure by linkage to information held outside the App.</td>
<td>Unlawful disclosure resulting in breach of confidentiality and distress to user.</td>
<td>Breach of Article 5(1)(a) &ndash; processed lawfully, fairly and in a transparent manner</td>
<td>Vulnerability of organisation to regulatory action and reputational damage.</td>
<td>Within App: Process of returning results to app users uses single use token and removes identifiability once results are delivered ; data flow to and from app systems break linkage wherever possible ; External to App: Controls around data sets associated with test ordering and test results ; controls within test ordering websites (England) ; Testing process until return of results does not provide the app test code where it is not needed (i.e. before return of results)</td>
<td>Reduce (Impact)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>18-Sep-20</td>
<td>1</td>
<td>5</td>
<td>Amber</td>
</tr>
<tr>
<td>R018</td>
<td>As test ordering requires the submission of directly identifiable information, there should be clear signposting to the user that they are leaving the App environment.</td>
<td>Data subjects are not appropriately informed about the controller, purposes for processing, legal basis and other requirements of Articles 12 and 13.</td>
<td>Non-compliance with DP legislation in particular Articles 12 and 13; reputational damage.</td>
<td>Vulnerability of organisation to regulatory action.</td>
<td>External to App: Privacy Notice, guidance and information to those ordering a virology test via the website ; Privacy statement ( https://test-for-coronavirus.service.gov.uk/appointment); Information about use of data ( https://www.gov.uk/government/publications/coronavirus-covid-19-testing-privacy-information.) ; Test ordering user journey provides information prior to app user (or non-app users) submitting data ; Separation out of data sets ;</td>
<td>Reduce (Likelihood)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>18-Sep-20</td>
<td>1</td>
<td>3</td>
<td>Green</td>
</tr>
<tr>
<td>R019a</td>
<td>There is a risk the app users can be reidentified by the data held in the product environment (the system that supports the apps functionality and manages the APIs) caused by the data items collected from app users in order to provide them with services.</td>
<td>Reidentification (impact on privacy and anonymity)</td>
<td>Failure to comply with statutory duties and information rights law (GDPR/DP, CLDC, HRA)</td>
<td>Vulnerability of organisation to regulatory action and reputational damage. Loss of public trust.</td>
<td>Privacy by design and default ; Data (analytical data set) collected from user (function specific) are limited and have negligible risk of direct or indirect identification ; The majority of data items within the analytical data set are counts or summaries of interaction with functions of the app not of specific interactions (i.e. a count of venues not of the individual venues accessed) ; Each analytical period only counts interactions within the period and is not cumulative ; The app sends no unique identifier with the analytical data set and no identifier is retained on DH secure data systems ; The process of uploads adds no consistent identifier (by the assigned centrally systems) across analytical data sets ; Controls over access and use within the product environment ; Protections within the APIs and product environment over access and use to data ; Requirements to use Apple Google GAEN limit collection and use of data items from app using their functionality; Add changes or additions to the analytical data set is subject to review, must meet the same criteria and be subject to the same controls;</td>
<td>Reduce (Likelihood)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>28-Nov-20</td>
<td>0</td>
<td>4</td>
<td>Negligible</td>
</tr>
<tr>
<td>R019b</td>
<td>There is a risk the app users can be reidentified by the data held in the analytical environment caused by the data items collected from app users in order to provide them with services.</td>
<td>Reidentification (impact on privacy and anonymity)</td>
<td>Failure to comply with statutory duties and information rights law (GDPR/DP, CLDC, HRA)</td>
<td>Vulnerability of organisation to regulatory action and reputational damage. Loss of public trust.</td>
<td>Privacy by design and default ; Data (analytical data set) collected from user (function specific) are limited and have negligible risk of direct or indirect identification ; The majority of data items within the analytical data set are counts or summaries of interaction with functions of the app not of specific interactions (i..e a count of venues not of the individual venues accessed) ; Each analytical period only counts interactions within the period and is not cumulative ; The app sends no unique identifier with the analytical data set and no identifier is retained on DH secure data systems ; The process of uploads adds no consistent identifier (by the assigned centrally systems) across analytical data sets ; Controls over access and use within the product environment ; Protections within the APIs and product environment over access and use to data ; Processes of preparation before data is provided to the analytical environment to reduce identifiability ; Postcode District aggregation where postcodes district are particularly small ; Small number suppression engaged where required ; Restriction of data items passed to the analytical environment (postcode district) where reidentification is a concern ; No linkage of data at row level from the app to data from any other system ; Requirements to use Apple Google GAEN limit collection and use of data items from app using their functionality ; There is active auditing through CDOC for unauthorised access ; Add changes or additions to the analytical data set is subject to review, must met the same criteria and be subject to the same controls;</td>
<td>Reduce (Likelihood)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>28-Nov-20</td>
<td>0</td>
<td>4</td>
<td>Negligible</td>
</tr>
<tr>
<td>R019c</td>
<td>There is a risk the app users can be reidentified by the data held in the product environment&rsquo;s performance viewer (the system that provides dashboards to oversee the performance of the app and the level of use)</td>
<td>Reidentification (impact on privacy and anonymity)</td>
<td>Failure to comply with statutory duties and information rights law (GDPR/DP, CLDC, HRA)</td>
<td>Vulnerability of organisation to regulatory action and reputational damage. Loss of public trust.</td>
<td>Privacy by design and default ; Data (analytical data set) collected from user (function specific) are limited and have negligible risk of direct or indirect identification ; The majority of data items within the analytical data set are counts or summaries of interaction with functions of the app not of specific interactions (i.e. a count of venues not of the individual venues accessed) ; Each analytical period only counts interactions within the period and is not cumulative ; The app sends no unique identifier with the analytical data set and no identifier is retained on DH secure data systems ; The process of uploads adds no consistent identifier (by the assigned centrally systems) across analytical data sets ; Controls over access and use within the product environment ; Protections within the APIs and product environment over access and use to data ; Processes of preparation before data is provided to the performance viewer to reduce identifiability ; Postcode District aggregation where postcodes district are particularly small ; Small number suppression engaged where required ; No linkage of data at row level from the app to data from any other system ; Requirements to use Apple Google GAEN limit collection and use of data items from app using their functionality ; There is active auditing through CDOC for unauthorised access ; Robust controls prevent any data export ; Add changes or additions to the analytical data set is subject to review, must meet the same criteria and be subject to the same controls;</td>
<td>Reduce (Likelihood)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>28-Nov-30</td>
<td>0</td>
<td>5</td>
<td>Negligible</td>
</tr>
<tr>
<td>R019d</td>
<td>There is a risk the app users can be reidentified by the data held under the control of the Department for Health and Social Care (for example, app users who seek a test could be reidentified by combining their data)</td>
<td>Reidentification (impact on privacy and anonymity)</td>
<td>Failure to comply with statutory duties and information rights law (GDPR/DP, CLDC, HRA)</td>
<td>Vulnerability of organisation to regulatory action and reputational damage. Loss of public trust.</td>
<td>Privacy by design and default ; Data (analytical data set) collected from user (function specific) are limited and have negligible risk of direct or indirect identification ; The majority of data items within the analytical data set are counts or summaries of interaction with functions of the app not of specific interactions (i.e. a count of venues not of the individual venues accessed) ; Each analytical period only counts interactions within the period and is not cumulative ; The app sends no unique identifier with the analytical data set and no identifier is retained on DH secure data systems ; The process of uploads adds no consistent identifier (by the assigned centrally systems) across analytical data sets ; Data from the app is held separately to other data within the Test and Trace programme ; The app associated test code used in the testing process can be used to update a user&rsquo;s status within the app. It is closely managed to prevent the association of anyone receiving testing from the data associated with the app and prevents data from the app being linked to any other data set ; Whilst the testing process will know that someone seeking a test is an app user and can identity that individual, the return of result process ensures that the correct results update the correct app user without being identify which app user or link to any data sets ; The app returns the test result to the correct user but is promptly deleted once validated</td>
<td>Reduce (Likelihood)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>18-Sep-20</td>
<td>0</td>
<td>4</td>
<td>Negligible</td>
</tr>
<tr>
<td>R019e</td>
<td>There is a risk that by collecting a Local Authority and a Postcode District that a user can be reidentified</td>
<td>Reidentification (impact on privacy and anonymity)</td>
<td>Failure to comply with statutory duties and information rights law (GDPR/DP, CLDC, HRA)</td>
<td>Vulnerability of organisation to regulatory action and reputational damage. Loss of public trust.</td>
<td>Privacy by design and default ; Data (analytical data set) collected from user (function specific) are limited and have negligible risk of direct or indirect identification ; Each analytical period only counts interactions within the period and is not cumulative ; The app sends no unique identifier with the analytical data set and no identifier is retained on DHSC secure data systems ; The process of uploads adds no consistent identifier (by the assigned centrally systems) across analytical data sets ; Controls over access and use within the product environment ; Protections within the APIs and product environment over access and use to data ; Requirements to use Apple Google GAEN limit collection and use of data items from app using their functionality ;</td>
<td>Reduce (Likelihood)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>29-Nov-20</td>
<td>1</td>
<td>4</td>
<td>Amber</td>
</tr>
<tr>
<td>R019f</td>
<td>There is a risk that the Exposure Window data sub-set and Scan Instance data sub-set may make app users or their status identifiable as a result of this data flow which may be more vulnerable to network monitoring (which is separate to the analytical data set)</td>
<td>Reidentification (impact on privacy and anonymity)</td>
<td>Failure to comply with statutory duties and information rights law (GDPR/DP, CLDC, HRA)</td>
<td>Vulnerability of organisation to regulatory action and reputational damage. Loss of public trust.</td>
<td>Privacy by design and default ; Exposure Window (data set) collected from user is limited and have negligible risk of direct or indirect identification ; The data contained within the Exposure Window includes details of interactions but does not contain details of either party involved; The app sends no unique identifier with the Exposure Window data set and no identifier is retained in the DH secure data systems; The Exposure Window is not cumulative or longitudinal and relevant to the period it monitors; The process of uploads adds no consistent identifier (by the assigned centrally systems) across analytical data sets ; Controls over access and use within the product environment ; Protections within the APIs, product and analytical environment over access and use to data ; Requirements to use Apple Google GAEN limit collection and use of data items from app using their functionality;</td>
<td>Reduce (Likelihood)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>08-Dec-20</td>
<td>0</td>
<td>3</td>
<td>Negligible</td>
</tr>
<tr>
<td>R020</td>
<td>Absence of controls over access to app by children (age range below 16)</td>
<td>Inappropriate use by children resulting e.g. in false self-reported symptoms and proximity alerts. Risk to the young app user from use of app where not</td>
<td>The App does not control accuracy of the data submitted to it. Non compliance with statute around use of digital services by children (GDPR)</td>
<td>Undermining purpose of app. Regulatory action, reputational damage and loss of public trust</td>
<td>Controls within the app store allows parents to limit access to the app but this is beyond the control of the organisation ; Users are asked to confirm their age ; Advice provided throughout comms around age of app user ; Age of app user clearly described in published DPIA (DPIA);</td>
<td>Reduce (Likelihood)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>18-Sep-20</td>
<td>2</td>
<td>2</td>
<td>Amber/Green</td>
</tr>
<tr>
<td>R021</td>
<td>The app provides services to young app users (age range 16-18). There are additional requirements for data processing for those under the age of 18 (those under 18 are children in GDPR terms)</td>
<td>Children&rsquo;s use of the app (age band 16-18) is not supported by appropriate controls</td>
<td>Failure to comply with statutory duties and information rights law (GDPR/DP, CLDC, HRA) including those additional points.</td>
<td>Vulnerability of organisation to regulatory action and reputational damage. Loss of public trust.</td>
<td>Privacy by design and default within the app ; Young app users are not identifiable outside of the data held on the phone within the app ; Provision of additional advise to young app users about differences in wider service (generic) (i.e. show messages to an appropriate adult) ; Legal review of position on PECR, ADM and lawful basis with regards to young app users (from 16 to 18 age bracket) ; Consultation with the Information Commissioner&rsquo;s Office</td>
<td>Reduce (Likelihood)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>18-Sep-20</td>
<td>1</td>
<td>2</td>
<td>Green</td>
</tr>
<tr>
<td>R022</td>
<td>There is a risk that those functions subject to the Privacy and Electronic Communications Regulations may not meet the requirements set out by the regulations and associated legislation.</td>
<td>The users may feel that notifications, messages and information associated around the app is intrusive and unrequested</td>
<td>Compliance with PECR [The Privacy and Electronic Communications (EC Directive) Regulations 2003]</td>
<td>Vulnerability of organisation to regulatory action and reputational damage. Loss of public trust.</td>
<td>Privacy by design and default within the app ; data minimisation to support strictly necessary purposes for app user ; clarity on app users contribution to Public Health management (COVID-19) ; Legal review of position on PECR and actions taken as a consequence ; App Screens, Privacy Notice and DPIA clearly set out functions that fall under PECR and the Public Health function ; Topic included in published DPIA</td>
<td>Reduce (Likelihood)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>18-Sep-20</td>
<td>1</td>
<td>3</td>
<td>Amber/Green</td>
</tr>
<tr>
<td>R023</td>
<td>There is a risk that those functions, where the standards of Automated Decision Making are noted, may not meet the requirements set out by relevant legislation and guidance</td>
<td>There is a risk that an individual will feel subject to automated decision making that they do not understand, cannot query or disregard</td>
<td>Compliance with Automated Decision Making (ADM, Article 22 of GDPR)</td>
<td>Vulnerability of organisation to regulatory action and reputational damage. Loss of public trust.</td>
<td>Design of the app and supporting services for COVID-19 ensures that human intervention is recommended for all app users when required ; Whilst the app may not fall within the scope of Article 22, it seeks to support app users by complying with the requirements of the law and guidance ; Where appropriate, human intervention is recommended to app users at the end of any process with automated decision making ; Publication of explanation of risk algorithm explanation ; Topic included in published DPIA</td>
<td>Reduce (Likelihood)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>18-Sep-20</td>
<td>1</td>
<td>3</td>
<td>Amber/Green</td>
</tr>
<tr>
<td>R024</td>
<td>Inappropriate use by users (including malicious, erroneous or hypochondriac self-diagnosis app) [Age bracket 16 to 18] see R011</td>
<td>Proximity users receive false proximity alerts and advice.</td>
<td>The App does not control accuracy of the data submitted to it.</td>
<td>Reputational damage, purpose of the app is undermined and public confidence in the app is diminished.</td>
<td>Controls within the app store allows parents to limit access to the app but this is beyond the control of the organisation ; Users are asked to confirm their age ; Advice provided throughout comms around age of app user ; Age of app user clearly described in published DPIA (DPIA); Information provided within the app and to app users about symptoms and description ; Wider Public Health programme on learning from self-diagnosis ; User Research and feedback programme ; Review of technical controls and issuing of alerts (limited by data provided by API) ; Ongoing work with Apple/Google regarding Exposure Logging and Notification to manage alerts in a social isolation context</td>
<td>Accepted</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>18-Sep-20</td>
<td>3</td>
<td>2</td>
<td>Amber/Green</td>
</tr>
<tr>
<td>R025a</td>
<td>Inappropriate use of the Venue Check-In function (including malicious, erroneous or hypochondriac self diagnosis)</td>
<td>Venue (and attendees) are inaccurately identified as at clinical risk from COVID-19</td>
<td>Failure to upload statutory duties to the public (public health)</td>
<td>Reputational damage, purpose of the app is undermined and public confidence in the app is diminished.</td>
<td>Information provided within the app and to app users about symptoms and description ; Wider Public Health programme on learning from self-diagnosis ; User Research and feedback programme ; Review of technical controls and issuing of alerts (limited by data provided by API) ; Ongoing work with Apple/Google regarding Exposure Logging and Notification to manage alerts in a social isolation context ; Ongoing programme of public health guidance and comms ; Guidance available in different formats and languages ;</td>
<td>Reduce (Likelihood)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>18-Sep-20</td>
<td>2</td>
<td>2</td>
<td>Amber/Green</td>
</tr>
<tr>
<td>R025b</td>
<td>Inappropriate use or misleading of the Venue Check-In posters (including malicious creation or faking of QR posters)</td>
<td>App Users are exposed to QR checks posing a risk to the individual&rsquo;s privacy and confidence in the app</td>
<td>Failure to upload statutory duties to the public (public health)</td>
<td>Reputational damage, purpose of the app is undermined and public confidence in the app is diminished.</td>
<td>Process and controls within NHS Official QR creation and use ; Controls within the app to ensure that only NHS Official QR codes can be scanned ; Support for app users and guidance on official QR codes ;</td>
<td>Reduce (Likelihood)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>18-Sep-20</td>
<td>1</td>
<td>2</td>
<td>Green</td>
</tr>
<tr>
<td>R026</td>
<td>In order to communicate over the internet address, an IP address is used by mobile phones</td>
<td>The IP address may be associated with individual users</td>
<td>Failure to comply with latest legal position on IP address as identifiable data (Breyer)</td>
<td>Compliance risk, reputational damage, public confidence in the app is diminished</td>
<td>The IP address has to be transmitted by the phone but this is outside of the control of the DHSC ; In line with the Apple Google terms of use, the privacy by design and default and commitment to users the IP address is removed from any data packets received at the earliest opportunity and is not retained ; Removal of the IP address is overseen by NCSC, CDOC and the CISO ;</td>
<td>Accepted</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>18-Sep-20</td>
<td>4</td>
<td>1</td>
<td>Green</td>
</tr>
<tr>
<td>R027</td>
<td>The data collected by the app is not proportionate to the purposes that the data is used for</td>
<td>The data collected about individuals is intrusive and is not proportionate to the services provided by the app</td>
<td>Failure to comply with the principles and requirements of information rights law (GDPR, DPA, CLDC and HRA, Article 8)</td>
<td>Compliance risk, reputational damage, public confidence in the app is diminished</td>
<td>Privacy by design and default within app ; Minimal data set with each item and collected reviewed for necessity for purpose ; analytical data set relies on counts and summaries rather than collecting individual items (except postcode district and test result) ; use of data within different environments demonstrates continual minimisation and necessity of data being used</td>
<td>Reduce (Impact) Reduce (Likelihood)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>18-Sep-20</td>
<td>1</td>
<td>2</td>
<td>Green</td>
</tr>
<tr>
<td>R028a Interoperability</td>
<td>There is a risk the app users can be reidentified by the data shared through federated servers to support alerts to app users across jurisdictions covered by the Interoperability Agreement (Northern Ireland, Scotland, Wales, Jersey, Gibraltar and England)</td>
<td>Reidentification (impact on privacy and anonymity)</td>
<td>Failure to comply with statutory duties and information rights law (GDPR/DP, CLDC, HRA)</td>
<td>Vulnerability of organisation to regulatory action and reputational damage. Loss of public trust.</td>
<td>Privacy by design and default ; Requirements to use Apple Google (GAEN) limit collection and use of data items from app using their functionality ; Nature of the diagnosis key as anonymous information ; Interoperability Agreement; Service Level Agreement with Federated Server provider ; Technical Protocol ; Interoperability Governance Group [Name to be confirmed] ; Controls and oversight within Federated Servers of access to data, audit and monitoring ; NB: This risk is similar to any app user with limited social interactions, it also exists with manual contact tracing.</td>
<td>Eliminated</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>17-Oct-20</td>
<td>-</td>
<td>-</td>
<td>N/A</td>
</tr>
<tr>
<td>R028b Interoperability</td>
<td>There is a risk that app users can be reidentified by the data shared and used to monitor the performance of the interoperability service through federated servers across jurisdictions covered by the Interoperability Agreement (Northern Ireland, Scotland, Wales, Jersey, Gibraltar and England)</td>
<td>Reidentification (impact on privacy and anonymity)</td>
<td>Failure to comply with statutory duties and information rights law (GDPR/DP, CLDC, HRA)</td>
<td>Vulnerability of organisation to regulatory action and reputational damage. Loss of public trust.</td>
<td>Privacy by design and default ; Requirements to use Apple Google (GAEN) limit collection and use of data items from app using their functionality ; Data used to ensure integrity and accuracy of data passed and received from federated servers; Interoperability Agreement</td>
<td>Eliminated</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>17-Oct-20</td>
<td>-</td>
<td>-</td>
<td>N/A</td>
</tr>
<tr>
<td>R028c Interoperability</td>
<td>There is a risk that app users can be reidentified should any data be shared beyond the partners to the interoperability agreement should a partner provide data shared onto additional bodies</td>
<td>Reidentification (impact on privacy and anonymity)</td>
<td>Failure to comply with statutory duties and information rights law (GDPR/DP, CLDC, HRA)</td>
<td>Vulnerability of organisation to regulatory action and reputational damage. Loss of public trust.</td>
<td>Privacy by design and default ; Requirements to use Apple Google (GAEN) limit collection and use of data items from app using their functionality ; Data used to ensure integrity and accuracy of data passed and received from federated servers; Interoperability Agreement Service Level Agreement with Federated Server provider ; Technical Protocol ; Interoperability Governance Group [Name to be confirmed] ; Controls and oversight within Federated Servers of access to data, audit and monitoring ; Minimisation of data used to monitor services</td>
<td>Eliminated</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>17-Oct-20</td>
<td>-</td>
<td>-</td>
<td>N/A</td>
</tr>
<tr>
<td>R029 Interoperability</td>
<td>There is a risk for app users with limited social interactions that they might be identifiable or be able to identify other app users due to these limited social interactions</td>
<td>Reidentification (impact on privacy and anonymity)</td>
<td>Undermining compliance with statutory duties and information rights law (GDPR/DP, CLDC, HRA)</td>
<td>Loss of public trust and concern about use of the app</td>
<td>Privacy by design and default (-); Requirements to use Apple Google (GAEN) limit collection and use of data items from app using their functionality (-); Advice provided to users about risks of identification outside of the app (-); Privacy Notice (-); Interoperability Agreement (-); Memorandum of Understanding between parties (-); Service Level Agreement with Federated Server provider (-); Technical Protocol (-); Interoperability Governance Group [Name to be confirmed] (-)</td>
<td>Accepted</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>17-Oct-20</td>
<td>1</td>
<td>2</td>
<td>Green</td>
</tr>
<tr>
<td>R030 Interoperability</td>
<td>Uncertainty over retention of diagnosis keys across jurisdictions they are shared with</td>
<td>There is a risk that app users will not know how long their data is to be retained at the start of processing</td>
<td>Undermining compliance with statutory duties and information rights law (GDPR/DP, CLDC, HRA)</td>
<td>Loss of public trust and concern about use of the app</td>
<td>Interoperability Agreement (MOU) Service Level Agreement with Federated Server provider ; Technical Protocol ; Interoperability Governance Group [Name to be confirmed] ; Clear agreement of Diagnosis Keys storage on Federated Server ; Alignment of retention of diagnosis keys across jurisdictions within interoperability agreement ; Privacy Notice details retention of Diagnosis Keys for users across interoperability agreement</td>
<td>Reduce (Likelihood)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>17-Oct-20</td>
<td>4</td>
<td>1</td>
<td>Green</td>
</tr>
<tr>
<td>R031 Interoperability</td>
<td>There is a risk that diagnosis keys passed to other jurisdictions may be shared further without the app user&rsquo;s permission or being informed</td>
<td>There is a risk that once a diagnosis key is outside of the control of the data controller they may be shared further than expected</td>
<td>Undermining compliance with statutory duties and information rights law (GDPR/DP, CLDC, HRA)</td>
<td>Loss of public trust and concern about use of the app</td>
<td>Privacy by design and default ; Requirements to use Apple Google (GAEN) limit collection and use of data items from app using their functionality ; Interoperability Agreement ;Service Level Agreement with Federated Server provider ; Technical Protocol ; Interoperability Governance Group [Name to be confirmed] ; Clear agreement of Diagnosis Keys storage on Federated Server</td>
<td>Reduce (Likelihood)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>17-Oct-20</td>
<td>3</td>
<td>1</td>
<td>Green</td>
</tr>
<tr>
<td>R032 Interoperability</td>
<td>There is a risk that data provided or derived from data provided by England and Wales are not subject to robust controls once downloaded by other jurisdictions.</td>
<td>None identified</td>
<td>Undermining public trust, compliance and England and Wales ability to oversee information</td>
<td>There is a risk that the data supporting the exchange of diagnosis keys, or that could be derived from them - such as a count of Diagnosis Keys, will not be under the control of England and Wales once they are shared with other jurisdictions</td>
<td>Limitations of data item and data that can be derived from it; Interoperability Agreement ; Service Level Agreement with Federated Server provider ; Technical Protocol ; Interoperability Governance Group [Name to be confirmed] ;</td>
<td>Reduce (Likelihood)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>17-Oct-20</td>
<td>1</td>
<td>2</td>
<td>Green</td>
</tr>
<tr>
<td>R033 Interoperability</td>
<td>Lack of technical or organisational measures implemented to ensure appropriate security of the data on the federated servers or once passed to other jurisdictions</td>
<td>Risk to individuals arising from inadequate technical or organisational controls to protect the data. Data breach due to technical weakness (e.g. cyber-attack); access by unauthorised people.</td>
<td>Non-compliance with statutory obligations</td>
<td>Potential for regulatory investigation and subsequent action; reputational damage and loss of trust from app users</td>
<td>Privacy by design and default ; Requirements to use Apple Google (GAEN) limit collection and use of data items from app using their functionality ; Interoperability Agreement ; Service Level Agreement with Federated Server provider ; Technical Protocol ; Interoperability Governance Group [Name to be confirmed] ; Controls and oversight within Federated Servers of access to data, audit and monitoring ; PEN and Cyber Security testing of Federated Server ; Exchange of Cyber Security Assurance between parties</td>
<td>Reduced (Likelihood)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>17-Oct-20</td>
<td>1</td>
<td>2</td>
<td>Green</td>
</tr>
<tr>
<td>R034 Interoperability</td>
<td>There is a risk that app users who live and work on the border of different jurisdictions are not supported by the NHS COVID-19 app</td>
<td>Failure to provide an effective service and accurate information for app users across jurisdictions</td>
<td>Failure to uphold statutory obligations towards citizens</td>
<td>Loss of public trust about the value and efficacy of the app</td>
<td>Provision of interoperability across jurisdictions set out in the interoperability agreement</td>
<td>Reduced (Likelihood)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>17-Oct-20</td>
<td>1</td>
<td>2</td>
<td>Green</td>
</tr>
<tr>
<td>R035 Interoperability</td>
<td>There is a risk that app users who travel between countries are not supported by the NHS COVID-19 app</td>
<td>Failure to provide an effective service and accurate information for app users across jurisdictions</td>
<td>Failure to uphold statutory obligations towards citizens</td>
<td>Loss of public trust about the value and efficacy of the app</td>
<td>Provision of interoperability across jurisdictions set out in the interoperability agreement</td>
<td>Reduced (Likelihood)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>17-Oct-20</td>
<td>2</td>
<td>2</td>
<td>Amber/Green</td>
</tr>
<tr>
<td>R036 Interoperability</td>
<td>There is a risk that diagnosis keys are not in the correct format, shared and utilised to the maximum benefit of users</td>
<td>Failure to provide an effective service and accurate information for app users across jurisdictions</td>
<td>Failure to uphold statutory obligations towards citizens</td>
<td>Loss of public trust about the value and efficacy of the app</td>
<td>Work of Interoperability Governance Group ; Technical Protocol ; Synchronisation of Servers ; Procedures within NHS COVID-19 app programme to ensure accuracy and validity of submissions ; Procedures within NHS COVID-19 app to support accuracy and validity of keys received from other jurisdictions</td>
<td>Reduced (Likelihood)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>17-Oct-20</td>
<td>1</td>
<td>2</td>
<td>Green</td>
</tr>
<tr>
<td>R037</td>
<td>There is a risk that app users may be able identify venues that are the source of an alert</td>
<td>Loss of personal data to non-trusted sources; privacy risk due unauthorised sharing of personal data. Venue (and attendees) are inaccurately identified as at clinical risk from COVID-19</td>
<td>Non-compliance with data protection legislation.</td>
<td>Reputational risk. Failure to fulfil obligations towards venues and app users. Vulnerability of organisation to regulatory action and reputational damage.</td>
<td>No details are provided about venues in alerts; details in the alerts limit the ability to identify any venue from the alert; Risks are broadly in line with wider contact tracing and health protection team venue/site interventions</td>
<td>Accepted</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>08-Dec-20</td>
<td>1</td>
<td>3</td>
<td>Amber/Green</td>
</tr>
<tr>
<td>R038</td>
<td>There is a risk that app users will not know their Local Authority and may not be entered correctly</td>
<td>The individual may not get the relevant information for their area (risks, testing options and services)</td>
<td>Failure to comply with statutory duties and information rights law (GDPR/DP, CLDC, HRA)</td>
<td>Reputational risk. Failure to fulfil obligations towards app users. Vulnerability of organisation to regulatory action and reputational damage.</td>
<td>The app will support the app user in selecting the relevant local authority after adding postcode district, there is additional support available from the gov.uk; advice to user. Information is available from multiple sources to support.</td>
<td>Reduce (Likelihood)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>29-Nov-20</td>
<td>1</td>
<td>2</td>
<td>Green</td>
</tr>
<tr>
<td>R039</td>
<td>There is a risk that collecting both postcode district and Local Authority is not in line with the principle of data minimisation</td>
<td>There is a risk that an individual may be more identifiable due the collection of Local Authority and postcode district</td>
<td>Failure to comply with statutory duties and information rights law (GDPR/DP, CLDC, HRA)</td>
<td>Vulnerability of organisation to regulatory action and reputational damage. Loss of public trust.</td>
<td>Privacy by design and default ; Data (analytical data set) collected from user (function specific) are limited and have negligible risk of direct or indirect identification ; The majority of data items within the analytical data set are counts or summaries of interaction with functions of the app not of specific interactions (i.e. a count of venues not of the individual venues accessed) ; Each analytical period only counts interactions within the period and is not cumulative ; The app sends no unique identifier with the analytical data set and no identifier is retained on DH secure data systems ; The process of uploads adds no consistent identifier (by the assigned centrally systems) across the collection period ; Controls over access and use within the product environment ; Protections within the APIs and product environment over access and use to data ; Requirements to use Apple Google GAEN limit collection and use of data items from app using their functionality; Add changes or additions to the analytical data set is subject to review, must met the same criteria and be subject to the same controls</td>
<td>Reduce (Likelihood)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>28-Nov-30</td>
<td>1</td>
<td>3</td>
<td>Amber/Green</td>
</tr>
<tr>
<td>R040 Support Isolation Payment</td>
<td>There is a risk that the app users seeking Self-Isolation Payment, when recommended, will be identifiable within the app&rsquo;s data sets.</td>
<td>Reidentification (impact on privacy and anonymity)</td>
<td>Failure to comply with statutory duties and information rights law (GDPR/DP, CLDC, HRA)</td>
<td>Reputational risk. Failure to fulfil obligations towards app users. Vulnerability of organisation to regulatory action and reputational damage.</td>
<td>Within the app context Data and Privacy page in the app; Information provided on Self-Isolation pages and process; Privacy Notice for the app ; Communication campaign for public about app and Self-Isolation Payments ; O; Publishing DPIA ; The IPC token created provides the link from the app to Gateway portal. Once the app user is confirmed as a resident of England, the encounter date and isolation end date is the only data to be pulled through from the app. This approach takes the same privacy by design method as per the book a test journey to ensure the app user&rsquo;s anonymity is preserved. Within the portal and self-isolation claim process. Information provided to the applicant about the process, the obligations upon them and the requirements for claiming the Self-Isolation Payments. For more information see the risk register for the self-isolation process.</td>
<td>Reduce (Likelihood)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>07-Dec-20</td>
<td>0</td>
<td>4</td>
<td>Negligible</td>
</tr>
<tr>
<td>R041 Support Isolation Payment</td>
<td>There is a risk that app users seeking Self-Isolation Payment will not be aware of the obligations that seeking Self-Isolation Payments put upon them.</td>
<td>The app user may face legal consequences from applying for Self-Isolation Payments but not understanding the requirements.</td>
<td>Failure to comply with statutory duties and information rights law (GDPR/DP, CLDC, HRA)</td>
<td>Reputational risk. Failure to fulfil obligations towards app users. Vulnerability of organisation to regulatory action and reputational damage.</td>
<td>Within the app context: Data and Privacy page in the app; Information provided on Self-Isolation pages and process; Privacy Notice for the app ; Communication campaign for public about app and Self-Isolation Payments ; O; Publishing DPIA ; Within the portal and self-isolation claim process Information provided to the applicant about the process, the obligations upon them and the requirements for claiming the self-isolation payments. The user is required to provide their agreement to proceed. For more information see the risk register for the self-isolation process.</td>
<td>Transferred (Self-Isolation Process)</td>
<td>Sign off on Risk - Senior Information Risk Owner and Chief Executive for Test and Trace programme Sign off for DPIA - Data Protection Officer</td>
<td>07-Dec-20</td>
<td>1</td>
<td>4</td>
<td>Amber</td>
</tr>
</tbody>
</table>