<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>Term</th>
<th>Definitions</th>
</tr>
</thead>
<tbody>
<tr>
<td>Aggregate</td>
<td>Aggregated data: Combined data from one or more data sources, potentially including summated or summary data or information or statistics based upon living natural persons&rsquo; data sourced from or related to one or more individuals to show general trends or values or analyses without identifying individual personal information or data within the data set.</td>
</tr>
<tr>
<td>Anonymised</td>
<td>Anonymisation: The process of rendering data into a form which does not identify individual living natural persons or makes the risk of re-identification sufficiently low in a particular context that it does not constitute personal data.</td>
</tr>
<tr>
<td>Anonymous</td>
<td>Data that cannot identify a living natural person.</td>
</tr>
<tr>
<td>Data minimisation</td>
<td>this is the minimum data to deliver the functionality as designed and necessary to the purpose.</td>
</tr>
<tr>
<td>De-personalised</td>
<td>De-personalised data: This is information that does not identify a living natural person, because all relevant identifiers or identifiable data have been scrambled or removed from the non-identifiable information about the living natural person to whom it relates. Because the information relates directly to a living natural person it must be protected in law. It might, in theory, be possible to re-identify the individual if the data was not adequately protected, for example if it was combined with different sources of information.</td>
</tr>
<tr>
<td>De-identified:</td>
<td>This refers to personal confidential data relating to a living natural person, which has been through anonymisation in a manner conforming to the ICO Anonymisation code of practice. There are two categories of de-identified data: 1. De-identified data for limited access: this is deemed to have a high risk of re-identification if published, but a low risk if held in an accredited safe haven such as an approved secure operational data store and subject to contractual protection to prevent re-identification; 2. Anonymised data for publication: this is deemed to have a low risk of re-identification, enabling publication.</td>
</tr>
<tr>
<td>Index Case</td>
<td>Within the context of the app, an index case is an app user who has tested positive for COVID-19: Updated their status within the app; Chosen to share their Diagnosis Keys Sharing these Diagnosis Keys allows other app users to be alerted by their app when appropriate. This is done by calculating the risk of infection from the two app users interaction.</td>
</tr>
<tr>
<td>Linked data</td>
<td>Linked data: The result of merging data from two or more sources with the object of consolidating facts, potentially including those relating to a living natural person, or an event that are not available in any separate record.</td>
</tr>
<tr>
<td>Personal</td>
<td>Personally identifiable data: This term describes personal information about identified or identifiable living natural persons, which should be kept private or secret. It includes the definition of personal data in the Data Protection Act, but may also include data relating to people who have died and information given in confidence under the Duty of Confidentiality. It includes, for example, Personally Identifiable Information (PII) and Sensitive Personal Information (SPI).</td>
</tr>
<tr>
<td>Personal Confidential Data (PCD):</td>
<td>Personal Confidential Data (PCD): Personal information about identified or identifiable living natural persons, which should be kept private or secret. For the purposes of this Review &lsquo;Personal&rsquo; includes the DPA definition of personal data, but it is adapted to include dead as well as living people and &lsquo;confidential&rsquo; includes both information &lsquo;given in confidence&rsquo; and &lsquo;that which is owed a duty of confidence&rsquo; and is adapted to include &lsquo;sensitive&rsquo; as defined in the Data Protection Act.</td>
</tr>
<tr>
<td>Personal Data</td>
<td>Personal data: Data which relate to a living natural person who can be identified from those data, or from those data and other information which are in the possession of, or are likely to come into the possession of, the data controller, and includes any expression of opinion about the living natural person and any indication of the intentions of the data controller or any other person in respect of the individual.</td>
</tr>
<tr>
<td>Pseudonym</td>
<td>Pseudonym: Individuals distinguished in a data set by a unique identifier which does not reveal their &lsquo;real world&rsquo; identity.</td>
</tr>
<tr>
<td>Pseudonymised</td>
<td>Pseudonymisation: The process of distinguishing living natural persons in a data set by using a unique identifier, which does not reveal their &lsquo;real world&rsquo; identity (see also Anonymisation and De-personalised data).</td>
</tr>
<tr>
<td>Pseudonymised (as defined in GDPR)</td>
<td>In GDPR (Article 4) &lsquo;pseudonymisation&rsquo; means the processing of personal data in such a manner that the personal data can no longer be attributed to a specific data subject without the use of additional information, provided that such additional information is kept separately and is subject to technical and organisational measures to ensure that the personal data are not attributed to an identified or identifiable living natural person.</td>
</tr>
</tbody>
</table>