<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>Data Item</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>hasSelfDiagnosedBackgroundTick</td>
<td>Notes if the app is aware that the user has completed the questionnaire with symptoms; this currently happens during an isolation and for the 14 days after isolation.</td>
</tr>
<tr>
<td>hasTestedPositiveBackgroundTick</td>
<td>Notes if the app is aware that the user has completed the questionnaire with symptoms; this currently happens during an isolation and for the 14 days after isolation.</td>
</tr>
<tr>
<td>isIsolatingForSelfDiagnosedBackgroundTick</td>
<td>Notes if today the user is isolating because of answering the questionnaire (and has symptoms)</td>
</tr>
<tr>
<td>isIsolatingForTestedPositiveBackgroundTick</td>
<td>Notes if today the user is isolating because of a positive test result</td>
</tr>
<tr>
<td>isIsolatingForHadRiskyContactBackgroundTick</td>
<td>Notes if today the user is isolating because of a risky contact</td>
</tr>
</tbody>
</table>