<table class="financial-data source-tableeditor">
<thead>
<tr>
<th>App Feature</th>
<th>What data does the user enter to use this feature?</th>
<th>Where does the data go/ is the data stored?</th>
<th>Does the app do anything automatically with the users&rsquo; data?</th>
<th>What data does the app receive?</th>
<th>Can the user opt out of this feature?</th>
<th>Level of risk to personal data</th>
</tr>
</thead>
<tbody>
<tr>
<td>Isolation Support Payment</td>
<td>No data is entered by the user. They press a button to request financial support based on a message to isolate as a result of exposure (not symptoms).</td>
<td>The app system&rsquo;s Cloud Services creates an IPC token. Encounter date and Isolation End dates are associated with the token and stored in the app backend (cloud services). In the first step, only the token is transferred to the Gateway Portal. When the user is confirmed as residing in England, the gateway will pull the dates from the app backend. The token persists until the ITS application is started. At this point the token is deleted. It is expected this will occur within 24 hours, however is dependent on how quickly the user moves through the process. If they fall out of the process and do not reach the CTAS (via ITS) application stage the token will be deleted within 14 days. In Wales the token will be generated, however as it cannot be used until the Welsh integration is available. It will be deleted within 14 days.</td>
<td>Yes, the app sends Encounter Data and Isolation End Date after it has confirmed the user is in England and has received the IPC token from the Cloud Services.</td>
<td>The IPC token is returned to the app.</td>
<td>Yes. The user may not be eligible for this payment or may not follow through with the steps required to initiate the process in the Gateway Portal. In which case the token, which has been created, will be deleted within 14 days.</td>
<td>Low</td>
</tr>
</tbody>
</table>